<div {% if not embedded %}class="gcb-border-box"{% endif %}>
  <link rel="stylesheet" type="text/css" href="{{resources_path}}/questions.css"/>
  <script>
    questionData['{{instanceid}}'] = JSON.parse(window.atob("{{js_data | js_string}}"));
    var assessmentTagMessages = {};

    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.correct = "{{ gettext('Correct. ') }}";
    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.incorrect = "{{ gettext('Incorrect. ') }}";
    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.partiallyCorrect = "{{ gettext('Partially Correct. ') }}";

    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.correctAnswer = "{{ gettext(' Yes, the answer is correct. ') }}";
    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.incorrectAnswer = "{{ gettext(' No, the answer is incorrect. ') }}";
    {# I18N: Confirmation text for the answer given to a question by a student. #}
    assessmentTagMessages.partiallyCorrectAnswer = "{{ gettext(' The answer is partially correct. ') }}";

    {# I18N: The title for section showing the correct answer #}
    assessmentTagMessages.correctAnswerHeading = "{{ gettext('The correct answer is:') }}";
    {# I18N: The title for section showing feedback related to the answer given #}
    assessmentTagMessages.targetedFeedbackHeading = "{{ gettext('Targeted Feedback:') }}";
    {# I18N: The title for section showing overall feedback #}
    assessmentTagMessages.feedbackHeading = "{{ gettext('Feedback:') }}";

    {# I18N: Text appearing at the bottom of a lesson page after the student asks for it to be graded. #}
    assessmentTagMessages.yourScoreIs = "{{ gettext(' Your score is: ') }}";
  </script>
  <script src="{{resources_path}}/grading_lib.js"></script>
  <script src="{{resources_path}}/grading.js"></script>
  <noscript>
    <div class='qt-warning'>
      {# I18N: Error message that is shown to a student when they are using a browser that does not have JavaScript enabled. #}
      {{ gettext(' JavaScript should be enabled to grade this question. ') }}
    </div>
  </noscript>

  {% if progress is defined %}
    <div class="gcb-progress-icon-holder gcb-pull-right">
      {% if progress == 1 %}
        <img src="assets/img/completed.png"
          alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
          title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
          class="gcb-progress-icon"/>
      {% elif progress == 0 %}
        <img src="assets/img/not_started.png"
          alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
          title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
          class="gcb-progress-icon"/>
      {% endif %}
    </div>
  {% endif %}

  {% block question %}
  {% endblock question %}
</div>
