<div class="gcb-border-box">
  <link rel="stylesheet" type="text/css" href="{{resources_path}}/questions.css"/>
  <script>
    questionData['{{quid}}'] = JSON.parse("{{js_data | js_string}}");
  </script>
  <script src="{{resources_path}}/grading_lib.js"></script>
  <script src="{{resources_path}}/grading.js"></script>
  <noscript>
    <div class='qt-warning'>
      {{ gettext(' JavaScript should be enabled to grade this question. ') }}
    </div>
  </noscript>
  <div id="{{quid}}" class="qt-mc-question">
    <div class="qt-question">{{question}}</div>
    <div class="qt-choices">
      {% for choice in choices %}
        <div>
          <input type="{{button_type}}" name="{{quid}}" id="{{quid}}-{{loop.index0}}"/>
          <label for="{{quid}}-{{loop.index0}}">
            {{choice['text']}}
          </label>
        </div>
      {% endfor %}
    </div>

    <div class="qt-check-answer">
      <button class="gcb-button qt-check-answer-button">
        {{ gettext(' Check Answer ') }}
      </button>
    </div>

    <div class="qt-feedback qt-hidden">
    </div>
  </div>
</div>
