{% extends 'templates/base_assessment_tag.html' %}

{% block question %}
  <div id="{{instanceid}}" class="qt-question-group">
    <div class="qt-introduction">
      {{ introduction | safe }}
    </div>

    <ol class="qt-question-list">
      {% for question_html in question_html_array %}
        <li class="qt-question-item">
          {{ question_html }}
        </li>
      {% endfor %}
    </ol>

    <div class="qt-check-answer">
      <button class="gcb-button qt-check-answer-button">
        {# I18N: Text on the button for checking a student's answer. #}
        {{ gettext(' Check Answer ') }}
      </button>
    </div>
    <div class="qt-feedback qt-hidden" role="alert"></div>
  </div>
{% endblock question %}
