#skills-container .controls {
  text-align: right;
}
#skills-container .controls label.show-warnings {
  margin-right: 20px;
}
table.skill-map-table {
  table-layout: fixed;
  border: 1px #ccc solid;
  margin: 20px auto;
  font-color: #333333;
}
table.skill-map-table thead tr th {
  border-bottom: 1px #ccc solid;
  background-color: #aaa;
}
table.skill-map-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background: #fff;
}
table.skill-map-table th.skill {
  width: 270px;
}
table.skill-map-table th.lessons {
  width: 5em;
}
table.skill-map-table tr {
  transition: background-color 200ms;
}
table.skill-map-table tr.even {
  background-color:#f0f0f0;
}
table.skill-map-table tr:hover {
  background-color:#e0e0e0;
}
table.skill-map-table td {
  border: none;
  white-space: nowrap;
  overflow-x: hidden;
}
table.skill-map-table td .diagnosis.icon {
  width: 25px;
  padding: 0 2px 0 0;
  font-size: 15px;
  opacity: 0;
  transition: opacity 400ms;
  cursor: inherit;
}
table.skill-map-table td.skill span.skill-name {
  display: inline-block;
  vertical-align: middle;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.skill-map-table td .diagnosis.icon.md-error {
  color: #c00;
}
table.skill-map-table td .diagnosis.icon.md-warning {
  color: #ccb800;
}
table.skill-map-table td .diagnosis.icon.active {
  opacity: 1;
}
table.skill-map-table td.description {
  overflow: hidden;
  text-overflow: ellipsis;
}
table.skill-map-table tr td span.prerequisite {
  background: #5cb85c;
  border-color: #1B7C1B;
  color: white;
  font-weight: normal;
  border-radius: 0.3em;
  padding: 0.1em 0.4em;
  margin: 0 0.2em !important;"
}
table.skill-map-table a {
  text-decoration: none;
}
table.skill-map-table th span.skill-count {
  font-size: smaller;
}
table.skill-map-table button:focus {
  outline: none;
}
table.skill-map-table .reveal-on-hover {
  opacity: 0;
  transition: opacity 200ms;
}
table.skill-map-table tr.row:hover .reveal-on-hover {
  opacity: 1;
}
table.skill-map-table button.add-new-skill {
}
table.skill-map-table ol.comma-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
table.skill-map-table ol.comma-list li {
  display: inline-block;
}
table.skill-map-table ol.comma-list li:after {
  content: ', ';
}
table.skill-map-table ol.comma-list li:last-child:after {
  content: '';
}
.skill-map-diagnosis-report .hidden {
  display: none;
}
.skill-map-diagnosis-report .elem-list .elem:after {
  content: '" \27f6 "'; /* long right arrow */
}
.skill-map-diagnosis-report > div.diagnosis {
  margin: 10px 0;
}
.skill-map-diagnosis-report .elem-list .elem:first-child:before,
.skill-map-diagnosis-report .elem-list .elem:last-child:after {
  content: '"';
}

.chart-container {
  margin: 50px;
}
