table.skill-map-table {
  border: 1px #ccc solid;
  margin: 0 auto;
  font-color: #333333
}
table.skill-map-table thead tr {
  border-bottom: 1px #ccc solid;
}
table.skill-map-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background: #fff;
}
table.skill-map-table tbody tr:nth-child(odd) {
  background-color:#f9f9f9;
}
table.skill-map-table tr:nth-child(even) {
  background-color:#fff;
}
table.skill-map-table tr:hover {
  background-color:#e6e6e6;
}
table.skill-map-table td {
  border: none;
}
table.skill-map-table td.lesson {
  width: 10em;
}
table.skill-map-table span.description {
  color: #777;
}
table.skill-map-table th.lesson {
  width: 10em;
}
table.skill-map-table tr.section-row td {
  background-color: #f5f5f5;
  font-style: italic;
}
table.skill-map-table tr.empty-section td{
  text-align: center;
  font-style: italic;
}
table.skill-map-table tr.blank-row td {
  border-left: none;
  border-right: none;
}
table.skill-map-table tr td span.skill {
  font-weight: bold;
}
table.skill-map-table tr td span.hellip {
  font-weight: bold;
  font-size: larger;
}

table.skill-map-table tr td span.description {
  color: #666666;
}
table.skill-map-table tr td span.prerequisite {
  background: #5cb85c;
  border-color: #1B7C1B;
  color: white;
  font-weight: normal;
  border-radius: 0.3em;
  padding: 0.1em 0.4em;
  margin: 0 0.2em !important;"
}
table.skill-map-table a {
  text-decoration: none;
}
table.skill-map-table th span.skill-count {
  font-size: smaller;
}
