{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Unit') }} {{ unit.index }} - {{ unit.title }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

{% if is_read_write_course and is_course_admin %}
  <a href="dashboard?action=edit_lesson&key={{ lesson_id }}"
    class="gcb-button gcb-button-action">Edit activity</a>
{% endif %}

{% if lesson.now_available or is_course_admin %}
  <script src="{{ activity_script_src }}"></script>
{% endif %}

<div id="gcb-main">
  <ul class="gcb-breadcrumb">
    {# I18N: Navigation breadcrumb. #}
    <li><a href="course">{{ gettext('Course') }}</a></li>
    <li>
      <a href="unit?unit={{ unit.unit_id }}">
        {# I18N: Navigation breadcrumb. #}
        {{ gettext('Unit') }} {{ unit.index }}</a></li>
    {% if lesson %}
      <li>
        <a href="unit?unit={{ unit.unit_id }}&lesson={{ lesson.lesson_id }}">
          {# I18N: Navigation breadcrumb. #}
          {{ gettext('Lesson') }} {{ lesson.index }}</a></li>
    {% endif %}
    <li>{# I18N: Navigation breadcrumb. #} {{ gettext('Activity') }}</li>
  </ul>
  <div>
    <h1 class="gcb-unit-header">
      {# I18N: Header text for a unit page. #}
      {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
    </h1>
  </div>

  {% if lessons %}
    {% include 'lesson_navbar.html' %}
  {% endif %}

  <div class="gcb-article tab-content" role="main">

    {% if not lesson %}
      <div style="padding-bottom: 20px;">
        <div class="gcb-aside gcb-button-box">
          {# I18N: Text shown for a unit that has had no lessons added to it yet. #}
          {{ gettext('This unit does not contain any lessons.') }}
        </div>
      </div>
    {% endif %}

    {% for lesson in lessons %}
      {% if lesson.lesson_id == lesson_id %}

        <div style="padding-bottom: 20px;">

          <div class="gcb-aside">

            {% if lesson.now_available or is_course_admin %}

              <div class="gcb-cols">
                <div class="gcb-col-7">
                  <h1 class="gcb-lesson-title">
                    {{ lesson.activity_title }}
                    {% if not lesson.now_available and is_course_admin %}
                      <span id="lesson-title-private">
                        (Private)
                      </span>
                    {% endif %}
                  </h1>
                </div>
                <div class="gcb-col-3">
                  <p style="float:right; margin-top: 0px;">
                    <a role="button" class="gcb-button" id="lessonNotesLink" href="{{ lesson.notes }}" target="_blank">
                      {# I18N: Link to a text version of a lesson video. #}
                      {{ gettext('Text Version') }}
                    </a>
                  </p>
                </div>
              </div><!-- /gcb-cols -->

              <div style="width: 785px;" id="activityContents">
              </div>

            {% else %}

              <h1 class="gcb-lesson-title">
                {{ lesson.title }}
              </h1>

              <br><br>

              <div class="gcb-button-box">
                {# I18N: Text shown for a lesson that has not been made public. #}
                {{ gettext('This lesson is not available.')}}
              </div>

            {% endif %}

          </div><!-- /gcb-aside -->

          <div class="gcb-button-box">
            <div class="gcb-prev-button">
              {% if back_button_url %}
                {# I18N: Text on the navigation button at the end of a lesson page. #}
                <a href="{{ back_button_url }}"> {{ gettext('Previous Page') }} </a>
              {% endif %}
            </div>
            <div class="gcb-next-button">
              {% if next_button_url %}
                {# I18N: Text on the navigation button at the end of a lesson page. #}
                <a href="{{ next_button_url }}"> {{ gettext('Next Page') }} </a>
              {% else %}
                {# I18N: Text on the navigation button at the end of a lesson. It signals that the student has completed a unit (which is a series of lessons). #}
                <a href="course"> {{ gettext('End') }} </a>
              {% endif %}
            </div>
          </div>

        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
