<a href="/admin/coursepage" class="gcb-button" style="float:right;">Preview course page</a>
{% extends 'base.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h1>Class Editor</h1>
      <p style="margin: 20px 0px;">
      </p>
      {% if classes %}
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Class id</th>
            <th>Class title</th>
            <th>Class release date</th>
            <th>Class now available?</th>
          </tr>
        </thead>
        <tbody>
        {% for class in classes %}
          <tr>
            <td>
              <a data-toggle="modal" href="#class{{ loop.index }}" style="padding-right:10px;">Edit</a>
              <a data-toggle="modal" href="#deleteclass{{ loop.index }}" style="padding-right:10px;">Delete</a>
            </td>
            <td><a href="/admin/editclass?class={{ class.id }}">{{ class.id }}</a></td>
            <td>{{ class.title }}</td>
            <td>{{ class.release_date }}</td>
            <td>{{ class.now_available }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <a data-toggle="modal" href="#addnewclass" class="gcb-button" type="submit">Add new class</a>
    </div>
  </div>
</div>

      {% if classes %}
        {% for class in classes %}
          <form class="modal-form" action='/admin/editcourse' method='post'>
          <div class="modal hide" id="class{{ loop.index }}">
            <div class="modal-header gcb-aside">
              <a href="#" style="float:right;" class="gcb-button" data-dismiss="modal">X</a>
              <h2>Edit Class {{ class.id }}</h2>
            </div>
            <div class="modal-body">
                <table>
                <tr>
                  <td><label for="class_id">Class id:</label></td>
                  <td>
                    <input disabled="disabled" type="text" value="{{ class.id }}" />
                    <input type="hidden" name="class_id" value="{{ class.id }}" />
                  </td>
                  <input type="hidden" name="request_type" value="editclass">
                </tr>
                <tr>
                  <td><label for="class_title">Class title:</label></td>
                  <td><input name="class_title" type="text" value="{{ class.title }}" /></td>
                </tr>
                <tr>
                  <td><label for="class_release_date">Class release date:</label></td>
                  <td><input name="class_release_date" type="date" value="{{ class.release_date }}" /></td>
                </tr>
                <tr>
                  <td><label for="class_now_available">Class available now?</label></td>
                  {% if class.now_available == "True" %}
                  <label><td><input name="class_now_available" type="radio" value="True" checked/>  True</label><br>
                  <input name="class_now_available" type="radio" value="" />  False</td>
                  {% else %}
                  <label><td><input name="class_now_available" type="radio" value="True" />  True</label><br>
                  <input name="class_now_available" type="radio" value="" checked/>  False</td>
                  {% endif %}
                </table>
            </div>
            <div class="modal-footer">
              <button class="gcb-button" type="submit">Save Changes</button>
              <a href="#" class="gcb-button" data-dismiss="modal">Cancel</a>
            </div>
          </div>
          </form>

          <form class="modal-form" action='/admin/editcourse' method='post'>
          <div class="modal hide" id="deleteclass{{ loop.index }}">
            <div class="modal-header gcb-aside">
              <a href="#" style="float:right;" class="gcb-button" data-dismiss="modal">X</a>
              <h2>Delete Class {{ class.id }}</h2>
            </div>
            <div class="modal-body">
                <table>
                <tr>
                  <td><label for="class_id">Class id:</label></td>
                  <td>
                    <input disabled="disabled" type="text" value="{{ class.id }}" />
                    <input type="hidden" name="class_id" value="{{ class.id }}" />
                  </td>
                  <input type="hidden" name="request_type" value="deleteclass">
                </tr>
                <tr>
                  <td><label for="class_title">Class title:</label></td>
                  <td><input disabled="disabled" name="class_title" type="text" value="{{ class.title }}" /></td>
                </tr>
                <tr>
                  <td><label for="class_release_date">Class release date:</label></td>
                  <td><input disabled="disabled" name="class_release_date" type="text" value="{{ class.release_date }}" /></td>
                </tr>
                <tr>
                  <td><label for="class_now_available">Class available now?</label></td>
                  {% if class.now_available == "True" %}
                  <label><td><input disabled="disabled" name="class_now_available" type="radio" value="True" checked/>  True</label><br>
                  <input disabled="disabled" name="class_now_available" type="radio" value="" />  False</td>
                  {% else %}
                  <label><td><input disabled="disabled" name="class_now_available" type="radio" value="True" />  True</label><br>
                  <input disabled="disabled" name="class_now_available" type="radio" value="" checked/>  False</td>
                  {% endif %}
                </table>
            </div>
            <div class="modal-footer">
              <button class="gcb-button" type="submit">Delete Class</button>
              <a href="#" class="gcb-button" data-dismiss="modal">Cancel</a>
            </div>
          </div>
          </form>
        {% endfor %}
      {% endif %}

      <form class="modal-form" action='/admin/editcourse' method='post'>
          <div class="modal hide" id="addnewclass">
            <div class="modal-header gcb-aside">
              <a href="#" style="float:right;" class="gcb-button" data-dismiss="modal">X</a>
              <h2>Add New Class </h2>
            </div>
            <div class="modal-body">
                <table>
                <tr>
                  <td><label for="class_id">Class id:</label></td>
                  <td><input name="class_id" type="text" /></td>
                </tr>
                <tr>
                  <td><label for="class_title">Class title:</label></td>
                  <td><input name="class_title" type="text" /></td>
                </tr>
                <tr>
                  <td><label for="class_release_date">Class release date:</label></td>
                  <td><input name="class_release_date" type="date" /></td>
                </tr>
                <tr>
                  <td><label for="class_now_available">Class available now?</label></td>
                  <label><td><input name="class_now_available" type="radio" value="True" />  True</label><br>
                  <input name="class_now_available" type="radio" value="" checked/>  False</td>
                </table>
            </div>
            <div class="modal-footer">
              <button class="gcb-button" type="submit">Add Class</button>
              <a href="#" class="gcb-button" data-dismiss="modal">Cancel</a>
            </div>
          </div>
      </form>

{% endblock %}
