{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Announcements') }}
{% endblock subtitle %}

{% block assets %}
  {{ super() }}
  <link rel="stylesheet"
        href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      {% if announcements %}
        {% if announcements.add_action %}
          <form id='gcb-add-announcement'
                action='{{ announcements.add_action }}'
                method='POST'>
            <input type="hidden"
                   name="xsrf_token"
                   value="{{ announcements.add_xsrf_token }}">
            <button class="gcb-button gcb-button-action gcb-button-author"
                    type="submit">Add Announcement</button>
          </form>
          <div style='clear: both; padding-top: 2px;' />
        {% endif %}
        {% if not announcements.children %}
          {# I18N: Shown if the list of announcements is empty. #}
          <p class="gcb-announcement-content">
            {{ gettext('Currently, there are no announcements.') }}
          </p>
        {% endif %}
        {% for item in announcements.children %}
          <hr>
          <h2>
            <a name='{{ item.key }}'></a>
            <span class="gcb-announcement-title">
              {{ item.title }}
              {% if item.is_draft %}(Private){% endif %}
            </span>
            {% if item.edit_action %}
              <a href="{{ item.edit_action }}"
                 class="gcb-edit-resource-button icon material-icons">edit</a>
            {% endif %}
          </h2>
          <p>
            <script>
              (function() {
                function pad(num) {
                  return (num < 10 ? '0' : '') + num;
                }
                var date = new Date({{ item.date }});
                var year = date.getFullYear();
                var month = pad(date.getMonth() + 1);
                var day = pad(date.getDate());
                var dateString = year + '-' + month + '-' + day;
                document.write(dateString);
              })();
            </script>
          </p>
          <p class="gcb-announcement-content" "margin: 20px 0px;">
            {{ item.html | gcb_tags }}
          </p>
        {% endfor %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
