{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Assessment {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

{% if is_read_write_course and is_course_admin %}
  <a href="dashboard?action=edit_assessment&key={{ unit_id }}"
    class="gcb-button gcb-button-action">Edit assessment</a>
{% endif %}

<div class="gcb-main">
  <div class="gcb-article">
    {% if assessment_script_src %}
      <script src="{{ assessment_script_src }}"></script>
    {% elif assessment_script %}
      <script>{{ assessment_script | safe }}</script>
    {% endif %}
    <script>
      assessmentXsrfToken = '{{ assessment_xsrf_token }}';

      {% if reviews is defined %}
        var isReviewAssessment = true;
        var reviewIndex = {{ review_index }};
        var unitId = '{{ unit_id }}';
      {% else %}
        var isReviewAssessment = false;
      {% endif %}

      {% if record_events %}
        gcbCanPostEvents = true;
        eventXsrfToken = '{{ event_xsrf_token }}';
      {% endif %}
    </script>

    {% if reviews is defined %}
      <p>
        <a href="reviewdashboard?unit={{ unit_id }}">
          {{ gettext('Back to the review dashboard.') }}
        </a>
      </p>
    {% endif %}

    {% if readonly_assessment is defined %}
      {% if reviews is not defined %}
        <p>
          <strong>
            {{ gettext('You have already submitted this assessment.') }}
          </strong>
        </p>
      {% endif %}
      <div style="border: 1px solid black; margin: 20px; padding: 10px;">
        {% include 'readonly_assessment.html' %}
      </div>
    {% endif %}

    <div style="width: 970px;" id="assessmentContents"></div>
  </div>
</div>

{% endblock %}
