{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Assessment {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

{% if is_read_write_course and is_course_admin %}
  <a href="dashboard?action=edit_assessment&key={{ unit_id }}"
    class="gcb-button gcb-button-action">Edit assessment</a>
{% endif %}

<div class="gcb-main">
  <div class="gcb-article">
    <script src="{{ assessment_script_src }}"></script>
    <script>
      assessmentXsrfToken = '{{ assessment_xsrf_token }}';

      {% if record_events %}
        gcbCanPostEvents = true;
        eventXsrfToken = '{{ event_xsrf_token }}';
      {% endif %}
    </script>

    {% if review_data is defined %}
      <p>
        Click here to return to the <a href="reviewdashboard?unit={{ unit_id }}">review dashboard</a>.
      </p>

      <div style="border: 1px solid black; margin: 20px; padding: 10px;">
        {% include 'readonly_assessment.html' %}
      </div>
    {% endif %}

    <div style="width: 970px;" id="assessmentContents"></div>
  </div>
</div>

{% endblock %}
