<!DOCTYPE html>
<html class="google" lang="{{course_info.course.locale}}">
  <head>
    <base href="{{ gcb_course_base }}" />
    <script>
      (function(H) {
        H.className = H.className.replace(/\bgoogle\b/,'google-js');
      })(document.documentElement)
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {{course_info.course.title}} -
      {% block subtitle %}
        {% trans %} Course {% endtrans %}
      {% endblock subtitle %}
    </title>

    <link rel="icon" href="assets/img/favicon.ico" />

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!-- jQuery should be imported first -->
    <script src="assets/lib/jquery-1.7.2.min.js"></script>

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};
      trans.CHECK_ANSWER_TEXT = '{% trans %} Check Answer {% endtrans %}';
      trans.CHECK_ANSWERS_TEXT = '{% trans %} Check Answers {% endtrans %}';
      trans.SHOW_ANSWER_TEXT = '{% trans %} Skip and Show Answer {% endtrans %}';
      trans.SAVE_ANSWERS_TEXT = '{% trans %} Save Answers {% endtrans %}';
      trans.SELECT_ANSWER_PROMPT = '{% trans %} Please click one of the buttons for your answer. {% endtrans %}';
      trans.ALL_CORRECT_TEXT = '{% trans %} All your answers are correct! {% endtrans %}';
      trans.NUM_CORRECT_TEXT = '{% trans %} Number of questions you answered correctly {% endtrans %}';
      trans.YOUR_SCORE_TEXT = '{% trans %} You received a score on this assessment of {% endtrans %}';
      trans.LESSONS_TO_REVIEW_TEXT = '{% trans %} Here are lessons you could review to improve your score {% endtrans %}';
      trans.PERFECT_SCORE_SAVE_TEXT =
          '{% trans %} Congratulations! Press the \'Save Answers\' button to submit your grade. {% endtrans %}';
      trans.GENERIC_SAVE_TEXT =
          '{% trans %} Press the \'Save Answers\' button below to save your scores. You can also edit your answers above before clicking \'Save Answers\'. {% endtrans %}';
    </script>
    <script src="assets/lib/activity-generic-1.2.js"></script>

    {% if course_info.base.show_gplus_button %}
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% endif %}

    {{course_info.base.before_head_tag_ends}}
  </head>

  <body>
    {{course_info.base.after_body_tag_begins}}

    <!-- logo bar -->
    <div class="gcb-header" id="gcb-header">
      <div class="gcb-aux">
        <h1>
          <a href="{{course_info.institution.url}}">
            <img src="{{course_info.institution.logo.url}}"
                 alt="{{course_info.institution.logo.alt_text}}">
          </a>
        </h1>
        <h2>
          <a href="/">{{course_info.base.nav_header}}</a>
        </h2>
        {% if course_info.base.show_gplus_button %}
          <span class="plusone-button" id="plusone-3" style="height: 15px; width: 70px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; ">
            <g:plusone size="medium"></g:plusone>
          </span>
        {% endif %}

        {% if logoutUrl %}
        <div class="pull-right" style="font-size: larger;">
          {{ email }}
          &nbsp;|&nbsp;
          <a href="{{ logoutUrl }}" style="text-decoration: underline;">
            {% trans %} Logout {% endtrans %}
          </a>
        </div>
        {% elif loginUrl %}
        <div class="pull-right" style="font-size: larger;">
          <a href="{{ loginUrl }}">{% trans %} Login {% endtrans %}</a>
        </div>
        {% endif %}
      </div>
    </div>

    {% block navbar %}
    <!-- nav bar -->
    <div class="gcb-nav gcb-complex" id="gcb-nav-x">
      <div class="gcb-aux">
        <ul>
          {{course_info.base.after_navbar_begins}}
          <li {% if navbar.announcements %}class='active'{% endif %}>
            <a href="announcements">
              {% trans %} Announcements {% endtrans %}
            </a>
          </li>
          <li {% if navbar.course %}class='active'{% endif %}>
            <a href="course">
              {% trans %} Course {% endtrans %}
            </a>
          </li>
          {% if course_info.course.forum_embed_url %}
          <li {% if navbar.forum %}class='active'{% endif %}>
            <a href="forum">
              {% trans %} Forum {% endtrans %}
            </a>
          </li>
          {% endif %}
          <li {% if navbar.myprofile %}class='active'{% endif %}>
            <a href="student/home">
              {% trans %} My Profile {% endtrans %}
            </a>
          </li>
          {{course_info.base.before_navbar_ends}}
          {% if is_super_admin %}
          <li class="pull-right">
            <a href="/admin">Admin</a>
          </li>
          {% endif %}
          {% if is_course_admin %}
          <li class="pull-right">
            <a href="dashboard">Dashboard</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endblock %}

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        {% block top_content %}{% endblock %}
        {{course_info.base.after_top_content_ends}}

        <!-- main section -->
        {% block main_content %}{% endblock %}
        {{course_info.base.after_main_content_ends}}
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global">
        <div class="gcb-aux">
          <ul>
            <li>
              <a href="{{course_info.institution.url}}">{{course_info.institution.name}}</a>
            </li>
            <li>
              <a href="{{course_info.base.privacy_terms_url}}">
                {% trans %} Privacy &amp; Terms {% endtrans %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{course_info.base.before_body_tag_ends}}
 </body>
</html>
