{% extends 'base.html' %}

{% block navbar %}
<!-- nav bar -->
<div class="gcb-nav gcb-complex" id="gcb-nav-x">
  <div class="gcb-aux">
    <ul>
      <li {% if navbar.announcements %}class='active'{% endif %}>
        {# I18N: Navbar tab. #}
        <a href="announcements">{{ gettext('Announcements') }}</a>
      </li>
      <li {% if navbar.course %}class='active'{% endif %}>
        {# I18N: Navbar tab. #}
        <a href="course">{{ gettext('Course') }}</a>
      </li>
      <li {% if navbar.registration %}class='active'{% endif %}>
        {# I18N: Navbar tab. #}
        <a href="register">{{ gettext('Registration') }}</a>
      </li>
      {% if is_super_admin %}
      <li class='gcb-pull-right'>
        <a href="/admin">Admin</a>
      </li>
      {% endif %}
      {% if is_course_admin %}
      <li class='gcb-pull-right'>
        <a href="dashboard">Dashboard</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
