{% extends 'base.html' %}

{% block navbar %}
<!-- nav bar -->
<div class="gcb-nav gcb-complex" id="gcb-nav-x">
  <div class="gcb-aux">
    <ul>
      <li {% if navbar.course %}class='active'{% endif %}>
        <a href="course">Course</a>
      </li>
      <li {% if navbar.registration %}class='active'{% endif %}>
        <a href="register">Registration</a>
      </li>

      {% if logoutUrl %}
      <li class="pull-right">
        <span style="font-weight: normal;">{{ email }} | </span>
        <a href="{{ logoutUrl }}">Logout</a>
      </li>
      {% elif loginUrl %}
      <li class="pull-right">
        <a href="{{ loginUrl }}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
