{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

  <div class="gcb-cols">
    <div class="gcb-col-1">
    </div>

    <div class="gcb-col-7 gcb-aside gcb-button-box">
      {% if course_status == "full" %}
        <p class="top_content">
          Thank you for registering for {{course_info.course.title}}.
          Unfortunately, the course is now full, so registration has
          closed.
        </p>

      {% else %}
        <p class="top_content">
          Thank you for registering for {{course_info.course.title}}.
          Stay tuned for more information about the course which will
          start on {{course_info.course.start_date}}.
        </p>

        <div style="text-align:left;">
          <ul>
            {% if course_info.course.forum_url %}
              <li>
                To participate in community discussions about this
                course, register for the web forum at
                <a href="{{course_info.course.forum_url}}">
                  {{course_info.course.forum_url}}
                </a>.
                On that page, click on <b>Join Group</b>.
              </li>
            {% endif %}

            {% if course_info.course.announcement_list_url %}
              <li>
                To receive announcements about this course, register for the
                announcements-only email list at
                <a href="{{course_info.course.announcement_list_url}}">
                  {{course_info.course.announcement_list_url}}
                </a>.
                On that page, click on <b>Join Group</b>. In the dialog box
                that appears, under <b>How do you want to read this group?</b>,
                choose <b>Email</b>.
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
