{% if lesson.objectives %}
  <div class="gcb-lesson-content"
       data-scored="{{ lesson.scored }}"
       data-question-batch-id="L{{ lesson.lesson_id }}">
    {{ lesson.objectives | gcb_tags}}
    {% if lesson.scored and not transient_student %}
      <div class="qt-grade-scored-lesson" style="display:none">
        <button class="gcb-button qt-check-answer-button">
          {# I18N: Button at the bottom of a lesson page offering the student the opportunity to grade his/her answers. #}
          {{ gettext('Grade Questions') }}
        </button>
      </div>
      <div class="qt-grade-report qt-hidden"
           data-question-batch-id="L{{ lesson.lesson_id }}"></div>
    {% endif %}
  </div>
{% endif %}

{% if lesson.video %}
  <div class="gcb-video-container">
    {# I18N: Alt text for an embedded YouTube video player. #}
    <iframe class="youtube-player"
            title="{{ gettext('YouTube Video Player') }}"
            type="text/html"
            frameborder="0"
            allowfullscreen="allowfullscreen"
            src="https://www.youtube.com/embed/{{ lesson.video }}?feature=player_embedded&rel=0">
    </iframe>
  </div>
{% endif %}
