{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'preview',
    });
  }
{% endblock %}

{% block top_content %}
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

      {% include 'summary.html' %}
      {% include 'registration_module.html' %}
    </div>
  </div>
  {{html_hooks.insert('preview.after_top_content_ends') | safe}}
{% endblock %}

{% block main_content %}
  {% import 'macros.html' as macros %}
  <div style="margin-top: 20px;" class="gcb-cols">
    <div class="gcb-col-1">
    </div>
    <div class="gcb-col-9">

      <h1 class="gcb-syllabus-headers">
        {# I18N: Title for the course syllabus on the main contents page. #}
        {{ gettext('Syllabus') }}
      </h1>

      <div id="gcb-main" role="main">
        <div class="gcb-nav gcb-nav-full" id="gcb-nav-y">
          <ul>
            {% for unit in units %}
              {{ macros.render_unit_title(
                  unit,
                  progress=None,
                  is_progress_recorded=False,
                  transient_student=True,
                  can_see_drafts=can_see_drafts,
                  include_link=False,
                  css_class='',
                  target_url=None) }}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
  {{html_hooks.insert('preview.after_main_content_ends') | safe}}
{% endblock %}
