{% extends 'base_course.html' %}

{% block top_content %}
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

      {% include 'summary.html' %}
      {% include 'registration_module.html' %}
    </div>
  </div>
  {{course_info.preview.after_top_content_ends | safe}}
{% endblock %}

{% block main_content %}
  <div style="margin-top: 20px;" class="gcb-cols">
    <div class="gcb-col-1">
    </div>
    <div class="gcb-col-9">

      <h1 class="gcb-schedule-headers">
        {# I18N: This should be interpreted as a noun. It is the title for the course schedule on the main contents page. #}
        {{ gettext('Schedule') }}
      </h1>

      <div id="gcb-main">
        <div style="width: 100%;" class="gcb-nav" id="gcb-nav-y">
          <ul>
            {% for unit in units %}
              {% if unit.type == 'A' %}
                <li><p class="gcb-top-content">{{ unit.title }}</p></li>
              {% elif unit.type == 'U' %}
                <li><p class="gcb-top-content">
                  {# I18N: A row in the course schedule. #}
                  {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                </p></li>
              {% elif unit.type == 'O' %}
                <li><p class="gcb-top-content"> {{ unit.title }} </p></li>
              {% else %}
                <li><p class="gcb-top-content">
                  Error: unit type not recognized.
                </p></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
  {{course_info.preview.after_main_content_ends | safe}}
{% endblock %}
