{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-cols" style="margin: 100px 0px;">
  <div class="gcb-col-1">
  </div>
  <div class="gcb-col-7 gcb-aside gcb-button-box">

      <h2>Registration is now closed.</h2>
      <!-- FIXME: the title and date below should be changed to your course name and date. -->
      <p class="top_content">Thank you for your interest in Power Searching with Google.  Class registration is now closed.  Although you will no longer be able to earn a certificate, you'll still be able to view the videos and do the online activities on your own starting July 24, 2012.</p>

  </div>
</div>

{% endblock %}
