{% extends 'base_registration.html' %}

{% block top_content %}

{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <p>
        {{course_info.reg_form.header_text}}
      </p>

      <form action="register" method='post'>
        <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
        <fieldset>
          <ol>
            <li>
              <label class="form-label" for="form01">
               {% trans %} What is your name? {% endtrans %}
              </label>
              <input name="form01" type="text">
            </li>
            {{course_info.reg_form.additional_registration_fields}}
          </ol>
        </fieldset>

        <button class="gcb-button" type="submit">
          {% trans %} Enroll {% endtrans %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
