{% extends 'base.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-cols">
  <div class="gcb-col-1">
  </div>
  <div class="gcb-col-7 gcb-aside gcb-button-box">
    <p class="top_content">
      {% if is_draft %}
        {{ gettext('Your review has been saved.') }}
      {% else %}
        {{ gettext('Your review has been submitted successfully.') }}
      {% endif %}
    </p>

    <p>
      <a class="gcb-button" href="reviewdashboard?unit={{ unit_id }}">
        {{ gettext('Back to the review dashboard.') }}
      </a>
    </p>

  </div>
</div>

{% endblock %}
