{% extends 'base_course.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-cols">
  <div class="gcb-col-1">
  </div>
  <div class="gcb-col-7 gcb-aside gcb-button-box">
    <p class="gcb-top-content" role="heading">
      {% if is_draft %}
        {# I18N: Shown as confirmation to a reviewer that his/her review draft has been saved. #}
        {{ gettext('Your review has been saved.') }}
      {% else %}
        {# I18N: Shown as confirmation to a reviewer that his/her review draft has been submitted. #}
        {{ gettext('Your review has been submitted successfully.') }}
      {% endif %}
    </p>

    <p>
      <a class="gcb-button" role="button" href="reviewdashboard?unit={{ unit_id }}">
        {# I18N: Text for the button shown on the review submission confirmation page that allows the student to return to the list of reviews. #}
        {{ gettext('Back to the review dashboard') }}
      </a>
    </p>

  </div>
</div>

{% endblock %}
