{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Assessment {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-main">
  <div class="gcb-article">
    <script>
      {% if record_events %}
        gcbCanPostEvents = true;
        eventXsrfToken = '{{ event_xsrf_token }}';
      {% endif %}
    </script>

    <h2>Submissions for you to review</h2>

    <ol>
      {% for review in reviews %}
        <li>
          <a href="review?unit={{unit_id}}&amp;index={{loop.index0}}">
            {{ gettext('Submission %(index)s', index=loop.index) }}
          </a>
          {% if review.review %}
            {{ gettext('Completed') }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    {% if can_request_new_review %}
      <form action="reviewdashboard?unit={{unit_id}}" method="post">
        <input type="hidden" name="xsrf_token"
               value="{{ review_dashboard_xsrf_token | escape }}">
        <input type="hidden" name="unit_id" value="{{ unit_id }}">
        <button class="gcb-button" type="submit">
          {{ gettext('Request new review') }}
        </button>
      </form>
    {% endif %}

    {% if no_submissions_available is defined and no_submissions_available %}
      <p>
        {{ gettext('Sorry, there are no new submissions available to review at this time.') }}
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
