{% extends 'base.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  {{ gettext('Review Dashboard') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-main">
  <div class="gcb-article">
    <script>
      {% if record_events %}
        gcbCanPostEvents = true;
        eventXsrfToken = '{{ event_xsrf_token }}';
      {% endif %}
    </script>

    {# I18N: Header text for a list of assignments that can be reviewed by the student. #}
    <h2>{{ gettext('Assignments for your review') }}</h2>

    <p>
      <em>
        {# I18N: Instructions for a student being asked to do a review. #}
        {{ gettext('All reviews are due by %(review_due_date)s.',
                   review_due_date=review_due_date) }}

        In order to earn credit for this assignment, you must complete at least {{review_min_count}} reviews by then.
      </em>
    </p>

    <ol>
      {% for review in reviews %}
        <li>
          {# I18N: An item in a list of assignments. #}
          <a href="review?unit={{unit_id}}&amp;review_index={{loop.index0}}">{{ gettext('Assignment %(index)s', index=loop.index) }}</a>
          {% if review.review %}
            {% if review.is_draft %}
              {# I18N: Text shown after an assignment whose review is still in draft state. #}
              ({{ gettext('Draft') }})
            {% else %}
              {# I18N: Text shown after an assignment whose review has been completed. #}
              ({{ gettext('Completed') }})
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    <form action="reviewdashboard?unit={{unit_id}}" method="post">
      <input type="hidden" name="xsrf_token"
             value="{{ review_dashboard_xsrf_token | escape }}">
      <input type="hidden" name="unit_id" value="{{ unit_id }}">
      <button class="gcb-button" type="submit"
        {% if not can_request_new_review %}
          disabled="true"
        {% endif %}
      >
        {# I18N: Button that a student can click to request a new assignment to review. #}
        {{ gettext('Review another assignment') }}
      </button>
    </form>

    {% if no_submissions_available is defined and no_submissions_available %}
      <p>
        {# I18N: Text shown after a student has asked for a new assignment to review when there are no assignments left to review. #}
        {{ gettext('Sorry, there are no new submissions available for you to review at this time.') }}
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
