{% extends 'base.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>
        {% trans %} Student Profile for {% endtrans %}
        {{ student.key().name() }}
      </h2>

      {% if student %}
      <table style="border-collapse:collapse;">
      <tr><td><b>{% trans %} Currently enrolled {% endtrans %}</b></td><td>{{ student.is_enrolled }}</td></tr>
      <tr><td><b>{% trans %} Date enrolled {% endtrans %}</b></td><td>{{ student.enrolled_date }}</td></tr>
      <tr><td><b>{% trans %} Email {% endtrans %}</b></td><td>{{ student.key().name() }}</td></tr>
      <tr><td><b>{% trans %} Name {% endtrans %}</b></td><td>{{ student.name }}</td></tr>
      <tr><td colspan=2><b>{% trans %} Assessment scores {% endtrans %}</b></td></tr>
      <tr><td>&nbsp;&nbsp;&nbsp;<b>{% trans %} Pre-class {% endtrans %}</b></td><td>
        {% if scores.has_key('precourse') %}
          {% trans %} Completed {% endtrans %}</td></tr>
        {% endif %}
      <tr><td>&nbsp;&nbsp;&nbsp;<b>{% trans %} Mid-class {% endtrans %}</b></td><td>
        {% if scores.has_key('midcourse') %}
          {{ scores['midcourse'] }}</td></tr>
        {% endif %}
      <tr><td>&nbsp;&nbsp;&nbsp;<b>{% trans %} Post-class {% endtrans %}</b></td><td>
        {% if scores.has_key('postcourse') %}
          {{ scores['postcourse'] }}</td></tr>
        {% endif %}
      <tr><td><b>{% trans %} Overall course score {% endtrans %}</b></td><td>
        {% if scores.has_key('overall_score') %}
          {{ scores['overall_score'] }}</td></tr>
        {% endif %}
      </table>

      <form action='student/editstudent' method='post'>
        <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
        <h2><label for="name">{% trans %} New Name {% endtrans %}</label></h2>
        <fieldset style="border: none;">
          <p><input name="name" id="name" type="text" size="40">
            <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
        </fieldset>

        <p><button class="gcb-button" type="submit">
          {% trans %} Save Changes {% endtrans %}
        </button> &nbsp;&nbsp;&nbsp;
          <a href="student/home" class="gcb-button" role="button">
            {% trans %} Cancel {% endtrans %}
          </a>
        </p>
      </form>

      <h2>{% trans %} To leave the course permanently, click on Unenroll {% endtrans %}</h2>

      <p><a href="student/unenroll" class="gcb-button" type="submit">
        {% trans %} Unenroll {% endtrans %}
      </a></p>

      {% else %}
      <p>Student profile not found ...</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

