{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} My Profile {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
      <h2>
        {% trans %} Student Profile for {% endtrans %}
        {{ student.key().name() }}
      </h2>

      {% if student %}

      {% include 'student_data_table.html' %}

      <form action='student/editstudent' method='post'>
        <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
        <h2><label for="name">{% trans %} New Name {% endtrans %}</label></h2>
        <fieldset style="border: none;">
          <p><input name="name" id="name" type="text" size="40">
            <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
        </fieldset>

        <p><button class="gcb-button" type="submit">
          {% trans %} Save Changes {% endtrans %}
        </button> &nbsp;&nbsp;&nbsp;
          <a href="student/home" class="gcb-button" role="button">
            {% trans %} Cancel {% endtrans %}
          </a>
        </p>
      </form>

      <h2>{% trans %} To leave the course permanently, click on Unenroll {% endtrans %}</h2>

      <p><a role="button" href="student/unenroll" class="gcb-button">
        {% trans %} Unenroll {% endtrans %}
      </a></p>

      {% else %}
      <p>Student profile not found ...</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

