<div class="gcb-col-55">

  <h1 class="product-headers">
    {{course_info.course.title}}
  </h1>

  <h2 class="product-headers">
    {{course_info.course.blurb}}
  </h2>

  <h2 class="bio-headers">
    {{course_info.course.instructor_details}}
  </h2>

</div>

<div class="gcb-col-5">

  {% if course_info.course.main_video %}
    <iframe class="youtube-player" type="text/html" width="460"
     title="{% trans %} YouTube Video Player {% endtrans %}"
     height="300" src="{{course_info.course.main_video.url}}"
     frameborder="0" allowfullscreen></iframe>
  {% else %}
    <img height="300" src="{{course_info.course.main_image.url}}">
  {% endif %}

</div>
