<div class="gcb-col-55">

  <!--FIXME: Add the course title here.-->
  <h1 class="product-headers">Power Searching with Google</h1>

  <!--FIXME: Add the course blurb here.-->
  <h2 class="product-headers">Google Search makes it amazingly easy to find information. Come learn about the powerful advanced tools we provide to help you find just the right information when the stakes are high.</h2>

  <!--FIXME: Add details about the instructor here.-->
  <h2 class="bio-headers">Daniel Russell<br>Senior Research Scientist<br>Google, Inc.</h2>

</div>

<div class="gcb-col-5">

  <!--FIXME: Add an introduction video or banner picture for your course here.-->
  <!--<img height="300" src="/assets/img/banner1.png">-->
  <iframe width="460" height="300" src="http://www.youtube.com/embed/Kdg2drcUjYI?rel=0"
   frameborder="0" allowfullscreen></iframe>

</div>

