<p class="gcb-top-content" role="heading">
  {# I18N: Shown after the student has submitted an assessment. #}
  {{ gettext('Thank you for taking the %(assessment_name)s. Your score for this assessment is %(score)s%%. If you wish, you may return to the assessment and take it again.', assessment_name=assessment_name, score=score) }}
</p>

<br>
{% if 'assessment_confirmations' in course_info
       and is_last_assessment
       and overall_score != None
       and result
       and course_info.assessment_confirmations['result_text'][result] %}
  <!-- Displays result-specific text for the final assessment. -->
  <p id="assessment-confirmations-result" class="gcb-top-content">
    {{course_info.assessment_confirmations['result_text'][result] % overall_score}}
  </p>
{% endif %}

{% if unit and unit.show_contents_on_one_page %}
<p>
  <a class="gcb-button"
     href="unit?unit={{ unit_id }}&assessment={{ assessment.unit_id }}">
    {# I18N: Shown after the student has submitted an assessment in a unit that contains assessments and where all unit contents are shown on a single HTML page.  This button allows the student to navigate back to the unit main page. #}
    {{ gettext('Return to Unit') }}
  </a>
</p>
{% endif %}
