{% if track_labels %}
<style type="text/css">
  div.unit_selected {
    color: #000;
  }
  div.unit_deselected {
    color: #bbb;
  }
</style>

<h2 class="gcb-section-division">
  {# I18N: Title shown on the student profile page #}
  {{ gettext('Course Tracks') }}
</h2>
<form
   action="student/settracks"
   method="post"
   id="student_set_tracks"
   data-track-env="{{ track_env }}">
  <input type="hidden"
         name="xsrf_token"
         value="{{ student_edit_xsrf_token|escape }}"
         >
  <table>
    <tr>
      <th align="left">
        {# I18N: Text indicating which units will be shown for the course #}
        {{ gettext('Course Components') }}
      </th>
      {% for label in track_labels %}
      <th>
        <div>{{ label.title }}</div>
      </th>
      {% endfor %}
    </tr>
    {% for unit in units %}
    <tr>
      <td>
        <div id="unit_id_{{ unit.unit_id }}" class="unit_deselected">
          {{ unit.title }}
        </div>
      </td>
      {% for label in track_labels %}
      <!-- label ID is {{ label.id }} -->
      <td>
        <center>
          <!-- unit labels {{ unit.labels }} -->
          {% if label.id in unit.labels %}
          <img src="assets/img/completed.png">
          {% endif %}
        </center>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <th>
        {# I18N: Text indicating which course tracks the student has selected #}
        {{ gettext('My Tracks') }}
      </th>
      {% for label in track_labels %}
      <td>
        <center>
          <input type="checkbox"
                 id="label_id_{{ label.id }}"
                 name="labels"
                 value="{{ label.id }}"
                 onchange="gcb_track_highlight()"
                 {% if label.id in student_labels %}
                 checked="true"
                 {% endif %}>
        </center>
      </td>
      {% endfor %}
    </tr>
  </table>
  <br>
  <div style="clear:both;"></div>
  <p>
    <button class="gcb-button" type="submit">
      {# I18N: Text for a button to save selected course tracks for student. #}
      {{ gettext('Set Tracks') }}
    </button>
  </p>
</form>

<script type="text/javascript">
function gcb_track_highlight() {
  var track_env = $('#student_set_tracks').data('track-env');
  var units = track_env.units;
  var label_ids = track_env.label_ids;
  var all_labels_unchecked = true;

  for (var i = 0; i < label_ids.length; i++) {
    if ($('#label_id_' + label_ids[i])[0].checked) {
      all_labels_unchecked = false;
    }
  }

  for (var i = 0; i < units.length; i++) {
    var unit = units[i];
    var unit_div = $('#unit_id_' + unit.unit_id)[0];
    if (unit.labels.length < 1 || all_labels_unchecked) {
      unit_div.setAttribute('class', 'unit_selected');
    } else {
      unit_div.setAttribute('class', 'unit_deselected');
      for (var j = 0; j < unit.labels.length; j++) {
        var checkbox = $('#label_id_' + unit.labels[j])[0];
        if (checkbox.checked) {
          unit_div.setAttribute('class', 'unit_selected');
          break;
        }
      }
    }
  }
}

gcb_track_highlight();
</script>
{% endif %}
