{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <h3>
        {% trans %} Are you sure you want to unenroll from {% endtrans %}
        {{course_info.course.title}}?
      </h3>
      <br>
      <form action="student/unenroll" method='post'>
        <input type="hidden" name="xsrf_token" value="{{ student_unenroll_xsrf_token|escape }}">
        <button class="gcb-button" type="submit">
          {% trans %} Yes {% endtrans %}
        </button>
        <a href="student/home" class="gcb-button" type="submit">
          {% trans %} No {% endtrans %}
        </a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
