{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'unenroll_confirmation_check',
    });
  }
{% endblock %}

{% block top_content %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <h3>
        {# I18N: Shown when a student has asked to unenroll from a course.
           Followed by a course name. #}
        {{ gettext('Are you sure you want to unenroll from ') }}
        {{course_info.course.title}}?
      </h3>
      <br>
      <form action="student/unenroll" method='post'>
        <input
           type="hidden"
           name="xsrf_token"
           value="{{ student_unenroll_xsrf_token|escape }}">

        {% for hook_item in hook_items %}
          {{ hook_item }}
        {% endfor %}

        <button class="gcb-button" type="submit">
          {# I18N: Response option to
             'Are you sure you want to unenroll from COURSE_NAME'? #}
          {{ gettext('Yes') }}
        </button>
        <a role="button" href="student/home" class="gcb-button" type="submit">
          {# I18N: Response option to
             'Are you sure you want to unenroll from COURSE_NAME'? #}
          {{ gettext('No') }}
        </a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
