{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <h3>
        {% trans %} You have been unenrolled from {% endtrans %}
        {{course_info.course.title}}
      </h3>
      <form action="preview" method='get'>
        <button class="gcb-button" type="submit">
          {% trans %} OK {% endtrans %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
