{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">
        <!-- FIXME: the title below should be changed to your course name. -->
        <h3>You have been unenrolled from Power Searching with Google.</h3>
        <form action="preview" method='get'>
         <button class="gcb-button" type="submit">OK</button>
        </form>

    </div>
  </div>
</div>
{% endblock %}
