{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': '{{ page_type }}',
      'unit_id': '{{ unit.unit_id }}',
      {% if lesson %}
        'lesson_id': '{{ lesson.lesson_id }}',
      {% endif %}
      {% if assessment %}
        'assessment_id': {{ assessment.assessment_id }}
      {% endif %}
    });
  }
{% endblock %}

{% block subtitle %}
  - {{ display_unit_title(unit) }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<script>
  var questionData = {};
  {% if lesson and lesson.scored %}
    questionData.scored = true;
  {% else %}
    questionData.scored = false;
  {% endif %}
</script>

<div id="gcb-main">
  {% if is_read_write_course and is_course_admin %}
    <a href="dashboard?action=edit_unit&key={{ unit.unit_id }}"
      class="gcb-button gcb-button-action">Edit unit</a>
    {% if lesson %}
      <a href="dashboard?action=edit_lesson&key={{ lesson.lesson_id }}"
        class="gcb-button gcb-button-action">Edit lesson</a>
    {% endif %}
    {% if assessment %}
      <a href="dashboard?action=edit_assessment&key={{ assessment.unit_id }}"
         class="gcb-button gcb-button-action">Edit assessment</a>
    {% endif %}
  {% endif %}
  <ul class="gcb-breadcrumb">
    {# I18N: Navigation breadcrumb. #}
    <li><a href="course">{{ gettext('Course') }}</a></li>
    <li><a href="unit?unit={{ unit.unit_id }}">
      {{ display_short_unit_title(unit) }}</a></li>
    {% if lesson %}
      <li>
        {% if activity %}
        <a href="unit?unit={{ unit.unit_id }}&lesson={{ lesson.lesson_id }}">
        {% endif %}
          {# I18N: Navigation breadcrumb. #}
          {{ gettext('Lesson') }} {{ lesson.index }}{% if activity %}</a>{% endif %}</li>
      {% if activity %}
        <li>{# I18N: Navigation breadcrumb. #} {{ gettext('Activity') }}</li>
      {% endif %}
    {% endif %}


  </ul>
  <div>
    <h1 class="gcb-unit-header">
      {{ display_unit_title(unit) }}
    </h1>
  </div>

  {% if course_outline %}
    {% include 'lesson_navbar.html' %}
  {% endif %}

  <div class="gcb-article tab-content" role="main">
    {{course_info.unit.after_content_begins | safe}}

    {% if not display_content %}
      <div style="padding-bottom: 20px;">
        <div class="gcb-aside gcb-button-box">
          {# I18N: Text shown for a unit that has had no lessons added to it yet. #}
          {{ gettext('This unit does not contain any lessons.') }}
        </div>
      </div>
    {% else %}

      <div style="padding-bottom: 20px;">

        {{ display_content }}

        <div class="gcb-button-box" {% if course_info.unit.hide_lesson_navigation_buttons %}style="display: none;"{% endif%}>
          <div class="gcb-prev-button">
            {% if back_button_url %}
              {# I18N: Text on the navigation button at the end of a lesson page. #}
              <a href="{{ back_button_url }}"> {{ gettext('Previous Page') }} </a>
            {% endif %}
          </div>
          <div class="gcb-next-button">
            {% if next_button_url %}
              {# I18N: Text on the navigation button at the end of a lesson page. #}
              <a href="{{ next_button_url }}"> {{ gettext('Next Page') }} </a>
            {% else %}
              {# I18N: Text on the navigation button at the end of a lesson. It signals that the student has completed a unit (which is a series of lessons). #}
              <a href="course"> {{ gettext('End') }} </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {{course_info.unit.before_content_ends | safe}}
  </div>
</div>

{% endblock %}
