<script src ="/modules/dashboard/resources/js/course_outline.js"></script>
<link href="/modules/dashboard/_static/css/course_outline.css" rel="stylesheet">
{% macro render_row(item) -%}
  <div class="row {{ item.class }}">
    <div class="left-matter">
      {% if course.can_reorder %}
        <div class="reorder icon row-hover md md-view-headline"></div>
      {% else %}
        <div class="icon inactive"></div>
      {% endif %}
      {% for action in item.actions %}
        {{ action }}
      {% endfor %}
      <div class="name">
        <a href="{{ item.href }}" data-title="{{ item.title }}">{{ item.title }}</a>
      </div>
    </div>
    <div class="extras">
      {% for extra in item.extras %}
        {{ extra }}
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

<div class="course-outline {% if course.can_add_or_remove %}editable{% else %}read-only{% endif %} {% if course.can_reorder %}reorderable{% endif %}"
    data-status-xsrf-token-unit="{{ status_xsrf_token_unit }}"
    data-status-xsrf-token-assessment="{{ status_xsrf_token_assessment }}"
    data-status-xsrf-token-link="{{ status_xsrf_token_link }}"
    data-status-xsrf-token-lesson="{{ status_xsrf_token_lesson }}"
    data-unit-lesson-title-xsrf-token={{ unit_lesson_title_xsrf_token }}
    data-unit-title-template="{{ unit_title_template }}">
  <div class="row">
    <div class="left-matter header">
      <div class="name">Course Outline</div>
    </div>
    <div class="header">
      <div class="name">{{ extra_info_title or '&nbsp;' }}</div>
    </div>
  </div>
  <div class="row course">
    <div class="left-matter">
      {% if course.availability.is_editable %}
        <form action="{{ course.availability.url }}" method="POST">
          <input type="hidden" name="xsrf_token"
                 value="{{ course.availability.xsrf_token }}">
          <input type="hidden" name="availability"
                 value="{{ course.availability.param }}">
          <button class="{{ course.availability.class }}" type="submit">
          </button>
        </form>
      {% else %}
        <div class="{{ course.availability.class }} read-only inactive"></div>
      {% endif %}
      {% if course.settings_viewable %}
        <a alt="Edit"
           class="icon row-hover md-mode-edit"
           href="dashboard?action=settings_homepage"
           title="Edit"></a>
      {% else %}
        <div class="icon inactive"></div>
      {% endif %}
      <div class="name"><a href="course">Course - {{ course.title }}</a></div>
    </div>
  </div>
  <ol class="course">
    {% for unit in units %}
      <li data-unit-id="{{ unit.unit_id }}">
        {{ render_row(unit) }}
        {% if unit.class == 'unit' %}
          {% if unit.pre_assessment %}
            <ol class="unit pre">
              <li data-unit-id="{{ unit.pre_assessment.unit_id }}">
                {{ render_row(unit.pre_assessment) }}
              </li>
            </ol>
          {% endif %}
          <ol class="unit">
            {% for lesson in unit.lessons %}
              <li data-lesson-id="{{ lesson.lesson_id }}"
                  data-auto-index="{{ lesson.auto_index }}">
                {{ render_row(lesson) }}
              </li>
            {% endfor %}
          </ol>
          <ol class="unit post">
            {% if unit.post_assessment %}
              <li data-unit-id="{{ unit.post_assessment.unit_id }}">
                {{ render_row(unit.post_assessment) }}
              </li>
            {% endif %}
            {% if course.can_add_or_remove %}
              <li class="add-lesson">
                <div class="row add-lesson">
                  <div class="left-matter">
                    <form action="dashboard?action=add_lesson" method="POST">
                      <input type="hidden" name="xsrf_token" value="{{ add_lesson_xsrf_token }}">
                      <input type="hidden" name="unit_id" value="{{ unit.unit_id }}">
                      <button class="" type="submit">+ Add Lesson</button>
                  </form>
                  </div>
                </div>
              </li>
            {% endif %}
          </ol>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
