<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <p>Course Builder Web Server supports
        <a href='http://jinja.pocoo.org/'>Jinja2</a> -- a full featured
        template engine for Python.
    </p>

    <hr />

    {% if is_course_admin %}
    <p>Here is a list of all currently available server variables:</p>
    <ul>
      {% for name, value in gcb_webserv_metadata: %}
          <li><b>{{ name }}</b>: {{ value }}</li>
      {% endfor %}
    </ul>
    {% else %}
        The rest of this page can only be seen by the by admin.
    {% endif %}
</body>
</html>