<link rel="stylesheet" type="text/css"
    href="/modules/questionnaire/resources/css/button.css">
<div class="gcb-questionnaire">
  <button
      class="gcb-button questionnaire-button"
      data-form-id="{{ form_id }}"
      data-xsrf-token="{{ xsrf_token }}"
      data-disabled="{% if disabled %}true{% else %}false{% endif %}"
      {% if single_submission %}
        data-single-submission="true"
        data-single-submission-message="{{
          gettext("Only one submission of this form is allowed.") }}"
      {% else %}
        data-single-submission="false"
      {% endif %}
      {% if registered %}
        data-registered="true"
      {% else %}
        data-registered="false"
        data-registered-message="{{
          gettext("Only registered students can submit answers.") }}"
      {% endif %}>
    {% if button_label %}
      {{ button_label }}
    {% else %}
      {# I18N: Button label to submit the responses to a questionnaire. #}
      {{ gettext('Submit answers') }}
    {% endif %}
  </button>
  {% if post_message %}
  <div class="post-message hidden">
    <div>{{post_message}}</div>
  </div>
  {% endif %}
</div>

