{% if error_msg %}
  <script>
    $(function() {
      cbShowMsg("Error {{ error_msg | js_string }}");
    });
  </script>
{% endif %}

{% if not peer_reviewed_units %}

  This course has no peer-reviewed assignments, so this page is empty.

{% else %}

  <h3>Select Assignment</h3>

  <br>

  <form id="edit_assignment" action="{{ edit_url }}" method="GET">
    <input type="hidden" name="action" value="{{ edit_assignment_action }}">

    <div class="form-field">
      Assignment Name:
      <select name="unit_id">
        {% for unit in peer_reviewed_units %}
          <option value="{{ unit.unit_id }}"
            {% if unit_id == unit.unit_id %}selected{% endif %}>
            {{ unit.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-field">
      Student email address:
      <input type="text" name="reviewee_id" value="{{reviewee_id}}">
    </div>

    <div class="form-field">
      <input type="submit" class="gcb-button" value="Show Reviews Received">
    </div>
  </form>

  {% if readonly_student_assessment %}
    <br><br><br>
    {% include 'assignment_individual.html' %}

  {% endif %}

{% endif %}
