<div id="question-filter-popup" class="filter-popup">
  <button class="close-button">X</button>
  <form class="form-popup">
    <p>
      <label>
        <span>Description</span>
        <input type="text" class="description"></input>
      </label>
    </p>
    <p>
      <label>
        <span>Question Type</span>
        <select class="type"></select>
      </label>
    </p>
    <p>
      <label>
        <span>Unit/Assessment</span>
        <select class="unit"></select>
      </label>
    </p>
    <p>
      <label>
        <span>Lesson</span>
        <select class="lesson"></select>
      </label>
    </p>
    <p>
      <label>
        <span>Question Group</span>
        <select class="group"></select>
      </label>
    </p>
    <p>
      <label>
        <span>Unused Only</span>
        <input type="checkbox" class="unused"></input>
      </label>
    </p>
    <div class="buttons">
      <input type="button" class="gcb-button reset" value="Reset"></input>
    </div>
  </form>
</div>