<link rel="stylesheet" type="text/css" href="/modules/skill_map/resources/css/skill_map.css">
<link rel="stylesheet" type="text/css" href="/modules/skill_map/resources/css/skill_tagging.css">

<script src="/modules/skill_map/resources/js/skill_tagging_lib.js"></script>
<script src="/modules/skill_map/resources/js/skill_map.js"></script>

<script>
  $(function() {
    var skillList = new SkillList();
    skillList.load(function() {
      var skillTable = new SkillTable(skillList);
      $('#skills-container').append(skillTable.buildTable());
    }, true);
  });
</script>

<div id="skills-container">
</div>
