<link rel="stylesheet" href="/modules/skill_map/_static/css/skill_map.css">
<script>
  $(function() {
    var skillList = new SkillList();
    var locationList = new LocationList();

    var skillListLoaded = $.Deferred(function(def) {
      skillList.load(function() {def.resolve()});
    });
    var locationListLoaded = $.Deferred(function(def) {
      locationList.load(function() {def.resolve()});
    });
    $.when(skillListLoaded, locationListLoaded).then(function() {
      var skillTable = new SkillTable(skillList, locationList);
      skillTable.buildTable().appendTo('#skills-container');
    });
  });
</script>

<a class="legend" href="modules/skill_map/rdf/v1/data">view as RDF</a>

<div id="skills-container"></div>
