<!DOCTYPE html>
<html>
  <head>
    {# I18N: Page title for the password reset HTML message, starting with a
             parenthesized note that this is an example implementation. #}
    <title>{{ gettext('(SAMPLE) Password reset confirmation') }}</title>
  </head>
  <body>

  {# I18N: Page header text indicating that this is an example
           implementation. #}
  <h1>{{ gettext('SAMPLE') }}</h1>

  {# I18N: sentence fragment beginning the message that a password reset has
            been requested. #}
  <p>{{ gettext('A password change has been requested for') }} {{ email }}.</p>
  {# I18N: sentence fragment beginning the text of the sentence providing the
           link for users to confirm the password change. #}
  <p>{{ gettext('Please visit') }}
  <a href="{{ oob_link }}">{{ oob_link }}</a>
  {# I18N: sentence fragment concluding the text of the sentence providing the
           link for users to confirm the password change. #}
  {{ gettext('to confirm this change.') }}</p>

  <hr />

  {# I18N: message introducing the list of available diagnostic pieces of
           information. #}
  <p>{{ gettext('Diagnostic information:') }}</p>

  <ul>
    <li><strong>action</strong>: {{ action }}</li>
    <li><strong>email</strong>: {{ email }}</li>
    <li><strong>oob_code</strong>: {{ oob_code }}</li>
    <li><strong>oob_link</strong>:
        <a href="{{ oob_link }}">{{ oob_link }}</a></li>
    <li><strong>response_body</strong>:<pre>{{ response_body }}</pre></li>
  </ul>

  </body>
</html>
