body, h3 {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f5f5;
}
form {
  display: inline;
}
html, body, table, td, th {
  font-family: arial,sans-serif;
  font-size: 13px;
}
table {
  width: 100%;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: gray;
  border-collapse: collapse;
}
table th {
  border-width: 1px;
  padding: 4px;
  background-color: #f5f5f5;
  border-style: inset;
  border-color: gray;
  text-align: center;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: inset;
  border-color: gray;
}
table.gcb-nav-bar {
  border: none;
}
table.gcb-nav-bar td {
  border: none;
  white-space: nowrap;
  padding: 0;
  font-family: "open sans",arial,sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #FFFFFF;
}
table.gcb-nav-bar td a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
table.gcb-nav-bar td a:focus,
table.gcb-nav-bar td a:hover,
table.gcb-nav-bar td a:active {
  text-decoration: underline;
}
.gcb-nav-bar-level-1 {
  background-color: #455A64;
}
.gcb-nav-bar-level-2 {
  background-color: #607D8B;
}
td.gcb-nav-bar-links {
  width: 100%;
}
table.gcb-nav-bar td.gcb-nav-bar-extras {
  padding: 0 10px;
}
td.gcb-nav-bar-links a {
  display: inline-block;
  padding: 10px 16px;
}
.gcb-nav-bar-level-1 a.selected {
  color: #222;
  background-color: #FFAB40;
}
.gcb-nav-bar-level-2 a.selected {
  color: #222;
  background-color: #FFAB40;
}

/* Start styles for the navbar overflow dropdown */
td.gcb-nav-bar-links button.gcb-nav-bar-more {
  background-color: #607d8b;
  position: relative;
}
td.gcb-nav-bar-links button.gcb-nav-bar-more.selected {
  color: #222;
  background-color: #FFAB40;
}
td.gcb-nav-bar-links .gcb-nav-bar-more-content {
  position: absolute;
  z-index: 5;
  top: -6px;
  left: -5px;
  padding: 5px 0px;
  background-color: #455A64;
  color: #ffffff;
  border: solid #404040 1px;
  border-radius: 3px;
  text-align: left;
}
td.gcb-nav-bar-links .gcb-nav-bar-more-content button.gcb-button {
  margin-bottom: 5px;
}
/* end styles for the navbar overflow dropdown */

div#gcb-main-area {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 12px;
}
div#gcb-section {
  padding-bottom: 4px;
}
div#gcb-main-content {
  padding: 32px;
  text-align: left;
}
div#gcb-main-content li {
  margin: 1px 0px;
}
div#gcb-footer {
  text-align: center;
  font-size: smaller;
  padding: 4px;
  border-top: solid 1px #607D8B;
}
h2 {
  margin-left: 32px;
}
h3 {
  color: #37474F;
  border-bottom: solid 1px #455A64;
}
p.page-description {
  margin: 0;
  padding: 0.4em 0 0 1em;
  width: 40em;
  text-align: left;
}
p.page-description, p.description {
  font-size: 80%;
  color: #666;
}
div#formContainer {
  margin: 0;
}
.gcb-button {
  margin: 0px 0px 0px 4px;
  padding: 4px 12px;
  background-color: #37474F;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}
.gcb-pull-right {
  float: right;
}
#gcb-section pre {
  padding: 0px;
  margin: 0px;
}
span.draft-label {
  color: #999;
}
.strong {
  font-weight: bold;
}


/* CSS for lists of items in the Course settings editor. */

div.settings-list {
  width: 500px;
  float: left;
}
div.new-form-layout div.settings-list.wide {
  width: inherit;
  float: none;
  margin-left: 90px;
  min-width: 700px;
}
div.new-form-layout div.settings-list.wide > span:first-child {
  display: none;
}
div.settings-list > div.inputEx-ListField-childContainer > div {
  margin-top: 15px;
}
div.settings-list a.inputEx-List-link {
  color: #000;
  background-color: #f2f2f2;
  border: solid #808080 1px;
  padding: 3px;
  font-weight: bold;
  font-size: 10px;
  margin-left: 0px;
}
div.new-form-layout div.settings-list a.inputEx-List-link {
  color: #fff;
  background-color: #666;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 10px;
}
div.settings-list a:hover {
  text-decoration: none;
}
div.settings-list-item {
  margin-left: 0px;
  width: 100%;
}
div.settings-list-item + a {
  float: right;
  margin-top: -10px;
  margin-right: 7px;
}
div.new-form-layout div.settings-list-item > fieldset > div.inputEx-fieldWrapper {
  padding: 15px 0 0 0;
}
div.settings-list-item > fieldset > div > div.inputEx-Field {
  width: auto;
  min-width: 325px;
}
div.settings-list-item select {
  max-width: 220px;
}
div.settings-list-item input[type="text"] {
  width: 300px;
  border-left: solid 1px #999;
}
div.settings-list-item div.inputEx-description {
  width: 250px;
}
div.settings-list > div.inputEx-description {
  margin-top: 10px;
}
div#formContainer div.settings-list-item fieldset {
  border: solid #999 1px;
  margin-left: 0px;
}
div#formContainer div.new-form-layout div.settings-list-item fieldset {
  border: solid #ddd 1px;
  border-radius: 3px;
}
div#formContainer div.settings-list-item fieldset legend span {
  font-weight: normal;
}
.icon {
  display: inline-block;
  border: none;
  vertical-align: middle;
  font-size: 16px;
  margin: 0;
  padding: 0 4px;
  color: #555;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.icon.inactive {
  cursor: auto;
}
.assets-table-container {
  max-height: 400px;
  overflow: auto;
  overflow-y: scroll;
  margin: 10px 0px 20px 0px;
  border: solid 1px;
}
.assets-table {
  border-style: hidden;
  border-right-style: solid;
}
.assets-table td {
  padding: 4px 10px;
  vertical-align: top;
}
.assets-table th {
  padding: 5px 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.assets-table li {
  margin: 0px;
}
.assets-table .md-arrow-drop-up,
.assets-table .md-arrow-drop-down {
  display: none;
}
.assets-table .sort-asc .md-arrow-drop-up,
.assets-table .sort-desc .md-arrow-drop-down {
  display: inline;
  font-size: 18px;
  vertical-align: middle;
}
.assets-table ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.assets-table span.count {
  font-style: italic;
}
#modal-window {
  display: none;
}
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1000;
}
#modal-container {
  border: 2px inset;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  width: 780px;
  margin-left: -410px;
  z-index: 1010;
  background-color: #fff;
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #888;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 5px;
}
#modal-container > div > iframe {
  width: 100%;
  border: none;
}
.filter-container {
  position: relative;
  overlfow: auto;
}
#add-to-group form div {
  display: inline-block;
  text-align: left;
}
.filter-popup {
  display: none;
  position: absolute;
  right: 100%;
  width: 470px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  -mozkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.form-popup label span {
  display: inline-block;
  width  : 120px;
  text-align: right;
  margin-right: 5px;
  vertical-align: middle;
}
.form-popup input[type="text"] {
  width: 216px;
  margin: 0px;
}
.form-popup input[type="checkbox"] {
  margin: 3px 0px;
}
.form-popup select, .form-popup label span.uneditable-field {
  text-align: left;
  width: 220px;
  margin: 0px;
}
.form-popup .buttons {
  margin-left: 121px;
}
.form-popup .buttons .gcb-button {
  display: inline-block;
}
.form-popup > fieldset {
  border:none;
  border-top: solid 1px #999999;
}
.form-popup legend {
  color: #505050;
  font-weight: bold;
  text-align: left;
}
li.activity-item {
  list-style-type: square;
}
#gcb-course-picker-menu {
  position: absolute;
  background-color: #FFF;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 3px;
  z-index: 10;
}
#gcb-course-picker-menu.hidden {
  display:none;
}
#gcb-course-picker-menu > li {
  background-color: #ECEFF1;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #aaa;
}
#gcb-course-picker-menu > li:last-child {
  border-bottom-right-radius: 3px;
}
#gcb-course-picker-menu > li:hover {
  background-color: #CFD8DC;
}
#gcb-course-picker-menu.disabled > li:hover {
  background-color: #ECEFF1;
}
#gcb-course-picker-menu > li > a {
  display: block;
  padding: 10px 10px;
  color: #444;
  text-decoration: none;
}
#gcb-course-picker-menu.disabled > li > a {
  color: #777;
  text-decoration: none;
}
#gcb-course-picker-menu > li > a.selected {
  font-weight: bold;
}
a#gcb-course-picker {
  text-decoration: none;
}
span.course-title {
  display: inline-block;
  font-weight: bold;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a#gcb-course-picker > span {
  vertical-align: bottom;
}
span.down-arrow {
  margin: 0 0 3px 5px;
  width: 10px;
  height: 5px;
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEIEgAQ1X1ifwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABgSURBVAjXdcqxDYNAEAXRWRBEdEEJlOAOXIBLwh3RADUQk5Fdhm5IzoCQPNJu8l/knKuI6IAaEKiABohyO7CRUmrV0f99uae+1eUGVvVTtvIuPKiTOquvHzrNA/dqz6MD5qlhajDm5qkAAAAASUVORK5CYII=);
}
div.current-course {
  color: #666;
  background-color: white;
  padding: 9px 11px;
}
/* Styles for role editor */
div.permission-module {
  display: inline-block;
}
div.permission-item.inputEx-ListField-subFieldEl {
  margin: 0;
  margin-bottom: 8px;
}
div.permission-item input {
  margin: 1px 5px 0px 0px;
}
div.permission-item .inputEx-label,
div.permission-item label,
div.permission-item .inputEx-Group-legend,
div.permission-module .inputEx-List-link {
  display: none;
}
div.permission-item .inputEx-fieldWrapper {
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
}
div.permission-item .inputEx-fieldWrapper + .inputEx-fieldWrapper + .inputEx-fieldWrapper {
  display: block;
}
div#formContainer fieldset .permission-item fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
.settings-section {
  width: 700px;
  margin: auto;
}
.settings-section-title {
  font-weight: bold;
  padding-left: 1em;
  background-color: #eee;
  color: #555;
}
.settings-section-content {
  margin-left: 2em;
}
.settings-property {
  margin: 8px;
}
.settings-property-label {
  float: left;
  padding-right: 1em;
  width: 130px;
  text-align: right;
  color: #555;
}
.settings-property-box {
  float: left;
  width: 500px;
}
.settings-property-value {
  border-left: 1px solid #999;
  color: #555;
  background: #EEE;
  padding: 3px;
  min-height: 1em;
}
.settings-property-descr {
  font-size: 75%;
  color: #555;
}
.settings-property-clear {
  clear: both;
}

div.codemirror-container-readonly {
    padding-bottom: 1.5em;
}

div.codemirror-container-readonly div.CodeMirror {
    height: auto!important;
}
