<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/modules/guide/_static/img/favicon.ico">
    <title>Course Builder Guides</title>

    <!-- Polymer -->
    <script
      src="/modules/guide/resources/polymer/bower_components/webcomponentsjs/webcomponents.js">
    </script>
    <link rel="import" href="/modules/guide/_static/components/guides.html">

  </head>
  <body unresolved>
    <gcb-guide-container>
      {% for course_slug, course_title, category_color, units in courses %}
          {% for unit_id, unit_title, unit_desc, unit_duration in units %}
              <gcb-guide-card
                  course_slug="{{ course_slug }}"
                  unit_id="{{ unit_id }}"
                  label="{{ unit_title }}"
                  url="{{ course_slug }}/guide?unit_id={{ unit_id }}"
                  category="{{ course_title }}"
                  duration="{{ unit_duration }}"
                  color="{{ category_color }}"
                  icon="/modules/guide/_static/img/book-icon-md.png"
              >{{ unit_desc }}</gcb-guide-card>
          {% endfor %}
      {% endfor %}
    </gcb-guide-container>
  </body>
</html>
