div.gcb-questionnaire > div.post-message {
  margin-top: 1em;
  overflow: hidden;
  max-height: 50em;
  -webkit-transition: max-height 2000ms;
  -moz-transition: max-height 2000ms;
  transition: max-height 2000ms;
}
div.gcb-questionnaire > div.post-message.hidden {
  display: block;
  max-height: 0;
}
div.gcb-questionnaire > div.post-message > div {
  display: inline-block;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 0.2em 1.0em;
  margin-bottom: 10px;
}
