/*
 * Styling for Student Groups availability settings page.
 */
.gcb-default-course-availability {
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !imporant;
}
.gcb-group-course-availability {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}