/*
 * Styling for Student Groups availability settings page.
 */
.availability-manager > fieldset > .group-scope > fieldset
    > .gcb-default-course-availability > .inputEx-Field {
  border: none !important;
  border-radius: 0 !important;
  background-color: #f9f9f9;
  font-style: italic;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
