{% extends 'base_course.html' %}
{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'course',
    });
  }
{% endblock %}

{%block top_content %}
{% endblock %}

{% block main_content %}
<div class="control-zoom">
    <a class="control-zoom-in" href="#" title="Zoom in"></a>
    <a class="control-zoom-out" href="#" title="Zoom out"></a>
</div>

{% if nodes %}
<div class="container">
  <div class="graph-container" data-nodes="{{ nodes }}" data-links="{{ links }}">
  </div>
  <div class="panel">
    <h2>Units for selected nodes</h2>
    <div class="panel-links"></div>
  </div>
</div>

<link rel="stylesheet" href="/modules/student_skills_ui/_static/css/dependency_graph.css">
<link rel="stylesheet" href="/modules/skill_map/_static/css/skill_map.css">
<script src="/static/d3-3.4.3/d3.js" charset="utf-8"></script>
<script src="/static/dagre-0.7.4/dagre.min.js"></script>
<script src="/static/dagre-d3-0.4.17p/dagre-d3.min.js"></script>
<script src="/static/underscore-1.4.3/underscore.min.js"></script>
<script src="/modules/student_skills_ui/_static/js/viz.js"></script>
<script>
  data = {
    'directed': true,
    'multigraph': false,
    'graph': [],
    'nodes': $('div.graph-container').data('nodes'),
    'links': $('div.graph-container').data('links')
  };

  GcbStudentSkillsUiModule.setupGraph(data, {{ x }}, {{ y }}, {{ scale }});
</script>
{% else %}
<h2> Error: There are no skills for this course. </h2>
{% endif %}
{% endblock %}
