{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'assessment',
      'assessment_id': '{{ assessment_name }}',
      'unit_id': '{{ unit_id }}',
    });
  }
{% endblock %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Assessment') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block assets %}
  {{ super() }}
  {% if embed_child_js_url -%}
    <script src="{{ embed_child_js_url }}"></script>
  {%- endif %}
  {% if show_onsubmit_message %}
    <script>
      $(function() {
        setTimeout(function() {  // Wait for question layout
          var buttonBar = $('.qt-assessment-button-bar:last');
          var buttonBarBottom = buttonBar.offset().top + buttonBar.height();
          $('.gcb-butterbar-container')
              .css('position', 'fixed')
              .css('bottom', $(window).height() - buttonBarBottom);
          $('.gcb-butterbar').css('margin', 0);
          {# I18N: Message to a student taking a course that they have
             successfully submitted answers to an assessment (an assessment
             is an examination, test, quiz, or similar.) #}
          cbShowMsgAutoHide('{{ gettext("Assessment submitted.") | js_string }}');
        }, 0);
      });
    </script>
  {% endif %}
  <link rel="stylesheet" href="/static/material-design-icons/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/modules/assessments/_static/css/assessments.css">
{% endblock %}

{% block main_content %}
  <div id="gcb-main">
    <div class="gcb-article">
        {{ main_content }}
    </div>
  </div>
{% endblock %}
