{% if model_version == '1.5' %}
  {% import 'assessment_html_content.html' as html_assessment %}
{% endif %}

<div class="gcb-assessment-contents">
  <h1>
    {{ assessment_title }}
    {% if is_read_write_course and is_course_admin %}
      <a href="dashboard?action=edit_assessment&key={{ unit_id }}"
          target="_top"
          class="icon md-mode-edit gcb-edit-resource-button">
      </a>
    {% endif %}

  </h1>

  {% if now_available or can_see_drafts %}

    {% if assessment_script_src %}
      <script src="{{ assessment_script_src }}"></script>
    {% endif %}

    <script>
      assessmentXsrfToken = '{{ assessment_xsrf_token }}';

      var assessmentGlobals = {};
      assessmentGlobals.isReviewForm = false;
      assessmentGlobals.grader = '{{ grader }}';
      {% if saved_answers %}
        assessmentGlobals.savedAnswers = JSON.parse("{{saved_answers | js_string}}");
      {% endif %}
    </script>

    <div class="assessment-top-info">
    {% if submission_due_date %}
      {% if due_date_exceeded %}
        <strong>
          {# I18N: Text shown to students when they visit an assignment page for which the due date has passed. #}
          {{ gettext('The due date for submitting this assignment has passed. It was due on %(submission_due_date)s.', submission_due_date=submission_due_date) }}
        </strong>
      {% else %}
        <strong>
          {# I18N: Shown to the student on the assignment page. #}
          {{ gettext('Due date for this assignment: ') }}
        </strong>
        {{ submission_due_date }}.
      {% endif %}
    {% endif %}
    {% if embedded and email %}
      {% if readonly_student_assessment %}
        {% if assessment_attempted %}
          {# I18N: Text telling students what their recorded email address is. #}
          {{ gettext('Your answers have been recorded under the email') }}
          <span class="email-address">{{ email }}</span>.
        {% else %}
          {# I18N: Text telling students there are not answers recorded for them. #}
          {{ gettext('You have not submitted any answers to this assignment under the email') }}
          <span class="email-address">{{ email }}</span>.
        {% endif %}
      {% else %}
        {# I18N: Text telling students what their recorded email address is. #}
        {{ gettext('Your answers will be recorded under the email') }}
        <span class="email-address">{{ email }}</span>.
      {% endif %}
    {% endif %}
    </div>

    {% if show_feedback %}
      <p class="total-score">
        <strong>
          {# I18N: Text telling students what their total score is.  #}
          {{ gettext('Score:') }}
        </strong>
        <span class="score">{{ score }}</span>
      </p>
    {% endif %}

    {% if grader == 'human' %}
      {% if matcher == 'peer' %}
        <p>
          <em>
            {# I18N: Instructions to the student for a peer-reviewed assignment. #}
            {{ gettext('You may only submit this assignment once. After you submit it, the assignment will become read-only, and you will not be able to modify your answers. The answers you submit here will be reviewed by your peers.')}}
          </em>
        </p>
      {% endif %}

      <hr>
    {% endif %}

    {% if model_version == '1.4' %}
      {% import 'readonly_assessment.html' as readonly_assessment %}
    {% endif %}

    {% if readonly_student_assessment is defined %}
      {# I18N: Header text for a previously-submitted assignment. #}
      <h3 class="submission-info">
        {{ gettext('Submitted assignment') }}
        {% if submission_date %}
          <span class="submission-date">
            {# I18N: Text telling students the date their answers were submitted  #}
            (
              {{- gettext('Submitted on') }}
              {{ submission_date -}}
            )
          </span>
        {% endif %}
      </h3>

      <div class="readonly-assessment">
        {% if model_version == '1.4' %}
          {{ readonly_assessment.display(readonly_student_assessment) }}
        {% elif model_version == '1.5' %}
          {{
            html_assessment.render(
                unit_id, assessment_xsrf_token, html_saved_answers, html_content,
                readonly=True, show_feedback=show_feedback,
                transient_student=transient_student, embedded=embedded)
          }}
        {% endif %}
      </div>
    {% endif %}

    {% if grader == 'human' and readonly_student_assessment is defined %}

      {% if reviews_received is defined or not due_date_exceeded %}
        {# I18N: Header text for the list of reviews received for an assignment. #}
        <h3>{{ gettext('Reviews received') }}</h3>
      {% endif %}

      {% if reviews_received is not defined %}
        {% if not due_date_exceeded %}
          <em>
            {# I18N: Text shown below a student's peer-reviewed assignment. #}
            {{ gettext('After you have completed the required number of peer reviews for this assignment, the reviews you have received will appear here.') }}
          </em>

          <br><br>

          <a href="reviewdashboard?unit={{ unit_id }}" class="gcb-button">
            {# I18N: Text shown on a button that allows the student to navigate from an assignment submission page to the peer review dashboard for that assignment. #}
            {{ gettext('Go to the review dashboard') }}
          </a>
        {% endif %}
      {% elif not reviews_received %}
        {# I18N: Text shown below a student's peer-reviewed assignment. #}
        <em>{{ gettext('You have not received any peer reviews yet.') }}</em>
      {% else %}
        {% for review in reviews_received %}
          <h4>Review {{ loop.index }}</h4>
          <div class="gcb-border-box">
            {% if model_version == '1.4' %}
              {{ readonly_assessment.display(review) }}
            {% elif model_version == '1.5' %}
              {{
                  html_assessment.render(unit_id, assessment_xsrf_token,
                      review['saved_answers'], review['content'], readonly=True,
                      transient_student=transient_student, embedded=embedded)
              }}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}

    {% endif %}

    <div id="assessmentContents"></div>

    {% if model_version == '1.5' and not readonly_student_assessment %}
      {{
        html_assessment.render(
            unit_id, assessment_xsrf_token, html_saved_answers, html_content,
            check_answers=html_check_answers, transient_student=transient_student,
            embedded=embedded)
      }}
    {% endif %}
  {% else %}
    <div>
      {# I18N: Text shown for an assessment that has not been made public. #}
      {{ gettext('This assessment is not available.')}}
    </div>
  {% endif %}
</div>
