<div class="gcb-button-toolbar">
  <a class="gcb-button" href="dashboard?action={{ add_action }}">
    {{ add_text }}
  </a>
</div>

<div class="gcb-list gcb-list--autostripe">
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>
            <a
                href="dashboard?action={{ edit_action }}&key={{ item.id }}"
                id="label_{{item.title}}">
              {{ item.title }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if not items|length %}
    <div class="gcb-list__empty-message-wrapper">
      <div class="gcb-list__empty-message">No items</div>
    </div>
  {% endif %}
</div>
