<script>
  gcb_data_source_token = '{{ data_source_token }}';
</script>

{% if any_generator_not_running %}
  <form id="gcb-generate-analytics-data"
        action="analytics?action=run_analytics"
        method="POST">
    <input type="hidden" name="r" value="{{ r }}">
    <input type="hidden" name="xsrf_token" value="{{ xsrf_token_run }}">
    {% for analytic in analytics %}
      <input type="hidden" name="analytic" value="{{ analytic }}">
    {% endfor %}
    <button class="gcb-button" type="submit">Update All Statistics</button>
  </form>
{% endif %}
<br>
<br>

{% for section in sections %}
  {{ section }}
{% endfor %}
