<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.0/material.teal-indigo.min.css" />
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/modules/dashboard/resources/css/mdl_undo.css"/>

    <style type="text/css">
      body {
        font-family: arial,sans-serif;
        font-size: 13px;
      }
      .gcb-button {
        display: inline-block;
        margin: 0;
        padding: 4px 12px;
        background-color: #37474F;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
        cursor: default;
      }
    </style>
  </head>
  <body>
    {{ form_html }}
  </body>
</html>
