<link rel="stylesheet" type="text/css"
    href="/modules/search/assets/search.css" />

{% if module_enabled %}
  <div class="gcb-index-status">
    {% if indexed %}
      <div>
        The index was last updated on {{ last_updated }}.
        Indexing the course took {{ '%.2f' % index_info['indexing_time_secs'] }}
        seconds.
        {% if index_info['deleted_docs'] %}
          {% if index_info['deleted_docs'] == 1%}
            1 previous entry was cleared before re-indexing.
          {% else %}
            {{ index_info['deleted_docs'] }} previous entries were cleared
            before re-indexing.
          {% endif %}
        {% endif %}
      </div>
      <table>
        <tr class="gcb-bold-row">
          <td>Document Type</td>
          <td>Number present</td>
        </tr></b>
        {% for type in index_info['doc_types'] | sort %}
          <tr>
            <td>{{ type }}</td>
            <td>{{ index_info['doc_types'][type] }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>Total</td>
          <td>{{ index_info['num_indexed_docs'] }}
        </tr>
        <tr class="gcb-bold-row">
          <td>Languages</td>
          <td>{{ ', '.join(index_info['locales']) }}</td>
        </tr>
      </table>
    {% elif status_message %}
      {{ status_message }}
    {% endif %}
  </div>

  {% if not job_in_progress %}
    <div class="gcb-button-toolbar">
      <form id="gcb-index-course" action="dashboard?action=index_course" method="POST">
        <input type="hidden" name="xsrf_token" value="{{index_course_xsrf_token}}">
        <button class="gcb-button">Index Course</button>
      </form>
    </div>
  {% endif %}
  <p>
    If <strong title="gcb_can_index_automatically">"Auto-Index"</strong>
    is enabled on the Settings > Course page, then <strong>Index Course</strong>
    will be run daily to keep your course's index up to date.
  </p>
  <p>
    To view more details about this course's search index, view the
    <strong>Full Text Search</strong> tab of the App Engine dashboard with the
    namespace of the current course.
  </p>

{% else %}
  <div class="gcb-index-status">
    The search module is currently disabled.
  </div>
{% endif %}
