<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="/modules/certificate/resources/css/certificate.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #container {
        background-image: url('/modules/certificate/resources/images/cert.png');
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="content">
        <div id="cert-top">
          <div id="cert-top-content">
            <p id="certificate-title">{{ gettext('Certificate of Completion') }}</p>
            <p>{{ gettext('Presented to') }}</p>
          </div>
        </div>
        <p id="student-name">{{ student.name }}</p>
        <div id="cert-bottom">
          <p>{{ gettext('for successfully completing the') }}</p>
          <p>{{ gettext('%(course)s course', course=course) }}</p>
        </div>
      </div>
    </div>
    <p></p>
    <div id="print-button-div">
      <input type="button" onClick="window.print()" class="printbutton" value="Print Certificate"/>
    </div>
  </body>
</html>
