/*

This is the color palette used throughput the product. For example,
the top and left nav are "mid teal", the product name in the top
left is "darker teal", most buttons are "darker teal", etc.

Generally speaking we've tried to be consistent in coloring "clickable
things" with one monochromatic palette, and "information things" with
a different monochromatic palette. (We've used a different color for
clickable things in one particular spot because we happen to have lots
of buttons very close to each other. That's the exceptopn rather than
the rule though.)

Primary (Teal) - used generally for clickable info

 * #42b2a6 [rgb( 66, 178, 166)]: lightest teal
 * #20a294 [rgb( 32, 162, 148)]: lighter teal
 * #009686 [rgb(  0, 150, 134)]: mid teal
 * #00776a [rgb(  0, 119, 106)]: darker teal
 * #005d53 [rgb(  0,  93, 83)]: darkest teal

Complementary (Orange) - used generally as an alt color for clickable info

 * #ffa25e [rgb(255, 162,  94)]: lightest orange
 * #ff8933 [rgb(255, 137,  51)]: lighter orange
 * #f16700 [rgb(241, 103,   0)]: orange
 * #bf5100 [rgb(191,  81,   0)]: darker orange
 * #953f00 [rgb(149,  63,   0)]: darkest orange

Split-complementary (Blue) - generally used for non-clickable info

* #498db6 [rgb( 73, 141, 182)]: lightest blue
* #2877a6 [rgb( 40, 119, 166)]: lighter blue
* #09649a [rgb(  9, 100, 154)]: blue
* #064f7a [rgb(  6,  79, 122)]: darker blue
* #043d5f [rgb(  4,  61,  95)]: darkest blue

*/

body {
  background-color: #f5f5f5;
}
form {
  display: inline;
}
table {
  width: 100%;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #e0e0e0;
  border-collapse: collapse;
}
th {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #e0e0e0;
}
td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #e0e0e0;
}
a {
  cursor: pointer;
}

div#gcb-main-area {
  text-align: center;
  position: relative;
}
div#gcb-section {
  padding-bottom: 4px;
}
div#gcb-main-content {
  padding: 32px;
  text-align: left;
}
div#gcb-footer {
  text-align: center;
  font-size: smaller;
  padding: 8px 4px;
  border-top: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
  background-color: #f9f9f9;
  color: #b0b0b0;
}
.section + .section {
  margin-top: 40px;
}
h3 {
  color: #37474F;
}
p.page-description {
  margin: 0;
  padding: 0.4em 0 0 1em;
  width: 40em;
  text-align: left;
}
p.page-description, p.description {
  font-size: 80%;
  color: #666;
}
div#formContainer {
  margin: 0;
}
.gcb-button {
  display: inline-block;
  margin: 0;
  padding: 4px 12px;
  background-color: #00776A;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: normal;
  cursor: default;
}
.gcb-button-toolbar {
  margin-top: 5px;
  margin-bottom: 5px;
}
.gcb-icon-button {
  padding-top:0;
  padding-bottom:0;
  padding-left: 8px;
  line-height: 20px;
}
.gcb-icon-button .icon {
  color: inherit;
  padding:0;
  background-color: transparent;
  cursor: inherit;
}
.gcb-icon-button span {
  vertical-align: middle;
}

.gcb-pull-right {
  float: right;
}
#gcb-section pre {
  padding: 0px;
  margin: 0px;
}
span.draft-label {
  color: #999;
}
.strong {
  font-weight: bold;
}


/* CSS for lists of items in the Course settings editor. */

div.settings-list {
  width: 500px;
  float: left;
}
div.new-form-layout div.settings-list.wide {
  width: inherit;
  float: none;
  margin-left: 140px;
  min-width: 700px;
}
div.new-form-layout div.settings-list > span:first-child {
  display: none;
}
div.settings-list > div.inputEx-ListField-childContainer > div {
  margin-bottom: 15px;
}
div.settings-list a.inputEx-List-link {
  color: #000;
  background-color: #f2f2f2;
  border: solid #e0e0e0 1px;
  padding: 3px;
  font-weight: bold;
  font-size: 10px;
  margin-left: 0px;
}
div.new-form-layout div.settings-list a.inputEx-List-link {
  color: #fff;
  background-color: #00776A;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 10px;
}
div.settings-list a:hover {
  text-decoration: none;
}
div.settings-list-item {
  margin-left: 0px;
  width: 100%;
}
div.settings-list-item + a {
  float: right;
  margin-top: -10px;
  margin-right: 7px;
}
div.new-form-layout div.settings-list-item > fieldset > div.inputEx-fieldWrapper {
  padding: 15px 0 0 0;
}
div.settings-list-item > fieldset > div > div.inputEx-Field {
  width: auto;
  min-width: 325px;
}
div.settings-list-item select {
  max-width: 220px;
}
div.settings-list-item input[type="text"] {
  width: 300px;
  border-left: solid 1px #e0e0e0;
}
div.settings-list-item div.inputEx-description {
  width: 250px;
}
div.settings-list > div.inputEx-description {
  margin-top: 10px;
}
div#formContainer div.settings-list-item fieldset {
  border: solid #e0e0e0 1px;
  margin-left: 0px;
}
div#formContainer div.new-form-layout div.settings-list-item fieldset {
  border: solid #e0e0e0 1px;
  border-radius: 3px;
}
div#formContainer div.settings-list-item fieldset legend span {
  font-weight: normal;
}
.icon {
  display: inline-block;
  border: none;
  vertical-align: middle;
  font-size: 16px;
  margin: 0;
  padding: 0 4px;
  color: #555;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.inactive {
  cursor: default !important;
}
.assets-table {
  border-style: hidden;
  border-right-style: solid;
}
.assets-table td {
  padding: 4px 10px;
  vertical-align: top;
}
.assets-table th {
  padding: 5px 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.assets-table li {
  margin: 0px;
}
.assets-table .sort-asc .md-arrow-drop-up,
.assets-table .sort-desc .md-arrow-drop-down {
  display: inline;
  font-size: 18px;
  vertical-align: middle;
}
.assets-table ul {
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
}
.assets-table li + li {
  margin-top: 6px;
}

.assets-table span.count {
  font-style: italic;
}
#modal-window {
  display: none;
}
#modal-wrapper {
  z-index: 1010;
  overflow: auto;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1000;
}
#modal-container {
  margin: auto;

  border: 2px inset;
  border-radius: 10px;
  width: 780px;
  z-index: 1010;
  background-color: #fff;
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #888;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 5px;
}
#modal-container > div > iframe {
  width: 100%;
  border: none;
}
.filter-container {
  position: relative;
  overlfow: auto;
}
#add-to-group form div {
  display: inline-block;
  text-align: left;
}
.filter-popup {
  display: none;
  position: absolute;
  right: 0;
  top: 26px;
  width: 470px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  -mozkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.form-popup label span {
  display: inline-block;
  width  : 120px;
  text-align: right;
  margin-right: 5px;
  vertical-align: middle;
}
.form-popup input[type="text"] {
  width: 216px;
  margin: 0px;
}
.form-popup input[type="checkbox"] {
  margin: 3px 0px;
}
.form-popup select, .form-popup label span.uneditable-field {
  text-align: left;
  width: 220px;
  margin: 0px;
}
.form-popup .buttons {
  margin-left: 121px;
}
.form-popup .buttons .gcb-button {
  display: inline-block;
}
.form-popup > fieldset {
  border:none;
  border-top: solid 1px #e0e0e0;
}
.form-popup legend {
  color: #505050;
  font-weight: bold;
  text-align: left;
}
li.activity-item {
  list-style-type: square;
}
span.course-title {
  display: inline-block;
  font-weight: bold;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.down-arrow {
  margin: 0 0 3px 5px;
  width: 10px;
  height: 5px;
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEIEgAQ1X1ifwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABgSURBVAjXdcqxDYNAEAXRWRBEdEEJlOAOXIBLwh3RADUQk5Fdhm5IzoCQPNJu8l/knKuI6IAaEKiABohyO7CRUmrV0f99uae+1eUGVvVTtvIuPKiTOquvHzrNA/dqz6MD5qlhajDm5qkAAAAASUVORK5CYII=);
}
div.current-course {
  color: #666;
  background-color: white;
  padding: 9px 11px;
}
/* Styles for role editor */
div.permission-item.inputEx-ListField-subFieldEl {
  margin: 0;
  margin-bottom: 8px;
}
.settings-section {
  width: 700px;
  margin: auto;
}
.settings-section-title {
  font-weight: bold;
  padding-left: 1em;
  background-color: #eee;
  color: #555;
}
.settings-section-content {
  margin-left: 2em;
}
.settings-property {
  margin: 8px;
}
.settings-property-label {
  float: left;
  padding-right: 1em;
  width: 130px;
  text-align: right;
  color: #555;
}
.settings-property-box {
  float: left;
  width: 500px;
}
.settings-property-value {
  border-left: 1px solid #e0e0e0;
  color: #555;
  background: #EEE;
  padding: 3px;
  min-height: 1em;
}
.settings-property-descr {
  font-size: 75%;
  color: #555;
}
.settings-property-clear {
  clear: both;
}

div.codemirror-container-readonly {
    padding-bottom: 1.5em;
}

div.codemirror-container-readonly div.CodeMirror {
    height: auto!important;
}
.title-text {
  vertical-align: middle;
}
label.settings.gcb-toggle-button {
  vertical-align: sub;
}
.gcb-message {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mdl-layout-title {
  font-size: 18px;
}

.mdl-layout__content {
  overflow: auto;
  background: #fff;
}

/* Drawer menu adjustments */
.mdl-layout__drawer {
  background-color: #009686;
  border: none;
  -mozkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.33);
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

.mdl-layout__drawer .mdl-navigation .gcb-menu .mdl-navigation__link {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 0;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

.mdl-layout__drawer .mdl-navigation .gcb-menu .mdl-navigation__link.gcb-collapse__button {
  padding-right: 30px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mdl-layout__drawer .mdl-navigation .gcb-menu .gcb-collapse--disabled .mdl-navigation__link {
  opacity: .3;
  cursor: auto;
}

.mdl-layout__drawer .gcb-collapse--disabled .mdl-navigation__link:hover {
  background: transparent;
}


/* current page indication */
.mdl-layout__drawer .mdl-navigation .gcb-menu .mdl-navigation__link.gcb-active,
.mdl-layout__drawer .mdl-navigation .gcb-menu .mdl-navigation__link.gcb-active:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.mdl-navigation__link .gcb-collapse__icon {
  position: absolute;
  right: 6px;
  margin-top: -3px;
}

#menu-item__courses.gcb-active {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#menu-item__courses:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* adjustments for the header */
.mdl-layout__header .mdl-navigation .mdl-navigation__link,
.mdl-layout__header a {
  color: inherit;
}

.mdl-layout__content {
  z-index: auto;
}

@media screen and (min-width: 851px) {
  .mdl-layout__drawer-button {
    display: none;
  }
  .mdl-layout__header-row {
    padding-left: 40px;
  }
}

.mdl-layout__header {
  background-color: #009686;
  font-weight: 300;
  position: relative;
}

.mdl-layout-title {
  font-weight: 300;
}

.mdl-layout__drawer .mdl-layout-title {
  padding-left: 30px;
  -mozkit-box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.33);
  box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.33);
  color: #fff;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .mdl-layout__drawer .mdl-layout-title {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.gcb-drawer-header {
  background:  #00776A;
}

/* indent sub-menus */
.mdl-layout__drawer .mdl-navigation .gcb-menu .gcb-menu .mdl-navigation__link {
  padding-left: 45px;
}

/* sub-groups */
.gcb-menu__sub-group {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
}

/* etc */
.gcb-menu__section + .gcb-menu__section {
  margin-top: 16px;
}

#menu-group__help {
  margin-top: 16px;
}

.external-link {
  font-size: 16px;
  vertical-align: top;
  opacity: 0.83;
}

.icon-draft-status.private:before {
  content: 'lock';
  color: #555;
}

.icon-draft-status.public:before {
  content: 'lock_open';
}

/* Recommended clear for floats etc. It's heightless.
   Use like <div class="clearfix"></div> */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
