{% extends 'modules/dashboard/analytics_base.html' %}

{% block stats %}
  <!-- TODO(mgainer): Make pretty later.  For now, proof-of-concept.  -->
  {% if not stats %}
    <p>No answers to questions have been recorded for this course.</p>
  {% else %}
    <ul>
      <table>
        <tr>
          <th>Question ID</th>
          <th>Number of Responses</th>
          <th>Average Score</th>
          <th>Median Score</th>
        </tr>
      {% for stat in stats %}
        <tr>
          <td>{{ stat[0] }}</td>
          <td align="right">{{ stat[1].num_answers }}</td>
          <td align="right">{{ stat[1].average }}</td>
          <td align="right">{{ stat[1].median }}</td>
        </tr>
      {% endfor %}
      </table>
    </ul>
  {% endif %}
{% endblock %}
