<!DOCTYPE html>
<html class="google" lang="en">
  <head>
    <base href="{{ gcb_course_base }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="icon" href="" />

    <!-- import jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/lib/butterbar.js"></script>
    <script src="/modules/dashboard/resources/js/view.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/butterbar.css"
        media="screen" />
    <link rel="stylesheet" type="text/css"
        href="/modules/dashboard/resources/css/view.css"/>
    {% if alerts %}
      <script>
        $(function() {
          cbShowAlert("{{ alerts | js_string }}");
        });
      </script>
    {% endif %}
  </head>
  <body>
  <div id='gcb-user-bar'>
    {{ user_nav }}
  </div>
  <h2>{{ page_title_linked }}</h2>
  {% for nav in top_nav %}
    <div class='gcb-nav-bar gcb-nav-bar-level-{{ loop.index }}'>
      {{ nav }}
    </div>
  {% endfor %}
  <div id='gcb-main-area'>
    <!-- ButterBar -->
    <div class="gcb-butterbar-container">
      <div id="gcb-butterbar-top" class="gcb-butterbar gcb-butterbar-dashboard">
        <p id="gcb-butterbar-message"></p>
        <a id="gcb-butterbar-close">X</a>
      </div>
    </div>

    {% if page_description %}
      <p class="page-description">
        {{ page_description }}
      </p>
    {% endif %}
    {% if sections %}
    <div id='gcb-main-content'>
      {% for section in sections %}
      <div id='gcb-section'>
        {% for action in section.actions %}
          {% if action.href %}
          <a id='{{ action.id }}' class="gcb-button gcb-pull-right" role="button"
              href="{{ action.href }}" >{{ action.caption }}</a>
          {% else %}
          <form id='{{ action.id }}' action='{{ action.action }}' method='POST'>
            <input type="hidden" name="xsrf_token" value="{{ action.xsrf_token }}">
            <button class="gcb-button gcb-pull-right" type="submit">{{ action.caption }}</button>
          </form>
          {% endif %}
        {% endfor %}
        {% if section.actions %}
          <div style='clear: both; padding-top: 2px;' />
        {% endif %}
        <h3>{{ section.title }}</h3>
        {% if section.description %}
          <p class="description">
            {{ section.description }}
          </p>
        {% endif %}
        {% if section.pre %}
        {{ section.pre }}
        {% else %}
        <ol>
          {% if not section.children %}
          &lt; none &gt;
          {% endif %}
          {% for item in section.children %}
          <li>{{ item }}</li>
          {% endfor %}
        </ol>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if main_content %}
    <div id='gcb-main-content'>
        {{ main_content }}
    </div>
    {% endif %}
    <div id='modal-window'>
      <div id='background'></div>
      <div id="container">
        <button class="close-button">X</button>
        <div id='content'></div>
      </div>
    </div>
  </div>
  <div id='gcb-footer'>
    Application {{ application_id }} version {{ application_version }}
    &nbsp;|&nbsp;
    Powered by
    <a target='_blank' href="https://code.google.com/p/course-builder/">
      Course Builder</a> {{ coursebuilder_version }}
    as distributed under 
    <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">
      Apache License Version 2.0
    </a>
    &nbsp;|&nbsp;
    {{ page_footer }}
  </div>
  </body>
</html>
