<div class="gcb-button-toolbar">
  <form id="gen_sample_quiz" action="generate-quiz" method="POST">
  <button class="gcb-button" type="submit">Generate sample quizzes</button>
  </form>

  <form id="gen_sample_students" action="generate-students" method="POST">
  <button class="gcb-button" type="submit">Generate sample students</button>
  </form>

  <form id="gen_sample_scores" action="generate-scores" method="POST">
  <button class="gcb-button" type="submit">Generate sample scores</button>
  </form>
</div>
