table.i18n-progress-table {
  border: none;
  max-width: 1200px;
  margin: 0 auto;
}
table.i18n-progress-table td.resource-locale-entry.done {
  background-color: #cfc;
}
table.i18n-progress-table td.resource-locale-entry.in-progress {
  background-color: #fffb00;
}
table.i18n-progress-table td + td {
  width: 10em;
}
table.i18n-progress-table tr.section-row td {
  background-color: #f5f5f5;
  font-style: italic;
}
table.i18n-progress-table tr.empty-section td{
  text-align: center;
  font-style: italic;
}
table.i18n-progress-table tr.blank-row td {
  border-left: none;
  border-right: none;
}
table.i18n-progress-table tr.not-translatable td {
  color: #777;
}
table.i18n-progress-table tr.not-translatable td.resource-locale-entry.done {
  background-color: #dfd;
}
table.i18n-progress-table tr.not-translatable td.resource-locale-entry.in-progress {
  background-color: #ffffa0;
}